$large_desktop: 1440px;
$small_desktop: 1280px;

$large_tablet: 1024px;
$small_tablet: 768px;

$large_mobile: 580px;
$small_mobile: 420px;

// @import "src/libs/sass-mediaqueries/_media-queries.scss";

// @include max-screen($large_desktop) {

// }