

.content p,.p,
.content li, .li{
	font-size: 1.5rem;
	line-height: 2.1rem;
}

.content ul, .content ol{

}

.content strong,.strong{
	font-weight: 500;
}

.content b,.b{
	font-weight: 700;
}

.content a,.a{

}

a:not([class]),
.blue-link{
	color: $blue;
	font-weight: 500;
	display: inline-block;
	position: relative;

	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 0;
		height: 2px;
		transform: scale(0,1);
		transition: ease .2s;
		pointer-events: none;
		background-color: $blue;
	}

	&:hover{
		&:after{
			transform: scale(1,1);
		}
	}

	@include max-screen($large_mobile) {
		display: inline;
		&:after{
			display: none;
		}
	}
}

.h1, .content h1,
.h2, .content h2,
.h3, .content h3,
.h4, .content h4,
.h5, .content h5,
.h6, .content h6,{
	// font-weight: 100;
}

.h1, .content h1{
	font-size: 5rem;
	line-height: 6.4rem;
	letter-spacing: -0.02em;
	font-weight: 700;
	// font-family: Graphik-Semibold;
	color: $dark;
}

.h2, .content h2{
}

.h3, .content h3{
	font-size: 3.6rem;
	line-height: 44px;
	color: $dark;
	font-weight: 700;
	margin-bottom: 2.2rem;
}

.h4, .content h4{
	font-size: 2.6rem;
	line-height: 6rem;
	color: $dark;
	letter-spacing: -0.03em;
	font-weight: 700;
}

.h5, .content h5{
	font-size: 2.3rem;
	line-height: 3.3rem;
	font-weight: 300;
}


.h6, .content h6{
	font-size: 2rem;
	line-height: 1.4rem;
	font-weight: 300;

}	

.is-blue{
	color: $blue!important;
}

.is-dark{
	color: $dark!important;
}

.middle{
	font-size: 1.9rem;
	line-height: 3.3rem;
}

.small{
	font-size: 1.5rem;
	line-height: 1.7rem;
}

.verysmall{
	font-size: 1.3rem;
	line-height: 1.9rem;
}

.p17{
	font-size: 1.7rem;
	line-height: 2.4rem;
}

@include max-screen($small_desktop) {
	.h1, .content h1{
		font-size: 4rem;
		line-height: 1.4em;
	}
}

@include max-screen($small_tablet) {
	.h1, .content h1{
		font-size: 3.2rem;
	}

	.h5, .content h5{
		font-size: 1.9rem;
		line-height: 3.3rem;
	}

	.h6, .content h6{
		font-size: 1.5rem;
		line-height: 3.3rem;
	}
}

@include max-screen($large_mobile) {
	.h1, .content h1{
		font-size: 2.6rem;
		line-height: 3rem;
	}

	.p17{
		font-size: 1.3rem;
		line-height: 1.9rem;
	}

	.h3, .content h3{
		font-size: 2.6rem;
		line-height: 3rem;
		margin-bottom: 1.4rem;

	}

	.small, .content p,.p,
	.content li, .li{
		font-size: 1.3rem;
		line-height: 1.9rem;
	}
}