extends ../layouts/base

append vars
	- title = 'Главная';

block content
	include ../layouts/main
	include ../layouts/keys
	include ../layouts/products
	include ../layouts/sertificate
block footer
	include ../layouts/footer