extends ../layouts/base

append vars
	- title = 'Главная';

block content
	include ../layouts/main
	include ../layouts/keys
	include ../layouts/company
	include ../layouts/products
	include ../layouts/sertificate
	include ../layouts/fotogallery
	include ../layouts/team
	include ../layouts/faq
	include ../layouts/scheme
	include ../layouts/map
block footer
	include ../layouts/footer