+e.table.table__
	+e.name.p17
		span
			+e.b.B
				| Бинты 5х5 
			| пл. 28
	+e.container.TABLE
		thead
			tr
				td.min-tablet.catalog__td.catalog__td_art 
					+e.text.verysmall 
						| Артикул
						+e.sortriangle
				td.all.catalog__td.catalog__td_name 
					+e.text.verysmall 
						| Наименование
						+e.sortriangle
				td.min-tablet.catalog__td.catalog__td_size.no-sort
					+e.text.verysmall Размеры
				td.min-tablet.catalog__td.catalog__td_density.no-sort
					+e.text.verysmall Плотность
				td.min-tablet.catalog__td.catalog__td_veiw.no-sort
					+e.text.verysmall Вид упаковки
				td.min-tablet.catalog__td.catalog__td_packing.no-sort
					+e.text.verysmall Упаковка (шт.)
				td.min-tablet.catalog__td.catalog__td_man.no-sort
					+e.text.verysmall Производитель
				td.all.dont-hide.catalog__td.catalog__td_price 
					+e.text.verysmall 
						| Цена
						+e.sortriangle
		tbody
			tr
				td.parent 
					+e.text.verysmall УТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| Бинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 3х4
				td
					+e.text.verysmall 28
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1872,00 ₽
			tr
				td.parent 
					+e.text.verysmall БТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| ВБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 5х5
				td
					+e.text.verysmall 27
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1200,50 ₽
			tr
				td.parent 
					+e.text.verysmall АТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| АБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 4х5
				td
					+e.text.verysmall 26
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 500,00 ₽
+e.table.table__
	+e.name.p17
		span
			+e.b.B
				| Бинты 5х5 
			| пл. 28
	+e.container.TABLE
		thead
			tr
				td.min-tablet.catalog__td.catalog__td_art 
					+e.text.verysmall 
						| Артикул
						+e.sortriangle
				td.all.catalog__td.catalog__td_name 
					+e.text.verysmall 
						| Наименование
						+e.sortriangle
				td.min-tablet.catalog__td.catalog__td_size.no-sort
					+e.text.verysmall Размеры
				td.min-tablet.catalog__td.catalog__td_density.no-sort
					+e.text.verysmall Плотность
				td.min-tablet.catalog__td.catalog__td_veiw.no-sort
					+e.text.verysmall Вид упаковки
				td.min-tablet.catalog__td.catalog__td_packing.no-sort
					+e.text.verysmall Упаковка (шт.)
				td.min-tablet.catalog__td.catalog__td_man.no-sort
					+e.text.verysmall Производитель
				td.all.dont-hide.catalog__td.catalog__td_price 
					+e.text.verysmall 
						| Цена
						+e.sortriangle
		tbody
			tr
				td.parent 
					+e.text.verysmall УТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| Бинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 3х4
				td
					+e.text.verysmall 28
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1872,00 ₽
			tr
				td.parent 
					+e.text.verysmall БТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| ВБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 5х5
				td
					+e.text.verysmall 27
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1200,50 ₽
			tr
				td.parent 
					+e.text.verysmall АТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| АБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 4х5
				td
					+e.text.verysmall 26
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 500,00 ₽
+e.table.table__
	+e.name.p17
		span
			+e.b.B
				| Бинты 5х5 
			| пл. 28
	+e.container.TABLE
		thead
			tr
				td.min-tablet.catalog__td.catalog__td_art 
					+e.text.verysmall 
						| Артикул
						+e.sortriangle
				td.all.catalog__td.catalog__td_name 
					+e.text.verysmall 
						| Наименование
						+e.sortriangle
				td.min-tablet.catalog__td.catalog__td_size.no-sort
					+e.text.verysmall Размеры
				td.min-tablet.catalog__td.catalog__td_density.no-sort
					+e.text.verysmall Плотность
				td.min-tablet.catalog__td.catalog__td_veiw.no-sort
					+e.text.verysmall Вид упаковки
				td.min-tablet.catalog__td.catalog__td_packing.no-sort
					+e.text.verysmall Упаковка (шт.)
				td.min-tablet.catalog__td.catalog__td_man.no-sort
					+e.text.verysmall Производитель
				td.all.dont-hide.catalog__td.catalog__td_price 
					+e.text.verysmall 
						| Цена
						+e.sortriangle
		tbody
			tr
				td.parent 
					+e.text.verysmall УТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| Бинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 3х4
				td
					+e.text.verysmall 28
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1872,00 ₽
			tr
				td.parent 
					+e.text.verysmall БТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| ВБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 5х5
				td
					+e.text.verysmall 27
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1200,50 ₽
			tr
				td.parent 
					+e.text.verysmall АТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| АБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 4х5
				td
					+e.text.verysmall 26
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 500,00 ₽
			tr
				td.parent 
					+e.text.verysmall УТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| Бинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 3х4
				td
					+e.text.verysmall 28
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1872,00 ₽
			tr
				td.parent 
					+e.text.verysmall БТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| ВБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 5х5
				td
					+e.text.verysmall 27
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1200,50 ₽
			tr
				td.parent 
					+e.text.verysmall АТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| АБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 4х5
				td
					+e.text.verysmall 26
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 500,00 ₽
			tr
				td.parent 
					+e.text.verysmall УТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| Бинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 3х4
				td
					+e.text.verysmall 28
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1872,00 ₽
			tr
				td.parent 
					+e.text.verysmall БТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| ВБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 5х5
				td
					+e.text.verysmall 27
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1200,50 ₽
			tr
				td.parent 
					+e.text.verysmall АТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| АБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 4х5
				td
					+e.text.verysmall 26
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 500,00 ₽
			tr
				td.parent 
					+e.text.verysmall УТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| Бинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 3х4
				td
					+e.text.verysmall 28
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1872,00 ₽
			tr
				td.parent 
					+e.text.verysmall БТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| ВБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 5х5
				td
					+e.text.verysmall 27
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1200,50 ₽
			tr
				td.parent 
					+e.text.verysmall АТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| АБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 4х5
				td
					+e.text.verysmall 26
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 500,00 ₽
			tr
				td.parent 
					+e.text.verysmall УТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| Бинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 3х4
				td
					+e.text.verysmall 28
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1872,00 ₽
			tr
				td.parent 
					+e.text.verysmall БТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| ВБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 5х5
				td
					+e.text.verysmall 27
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1200,50 ₽
			tr
				td.parent 
					+e.text.verysmall АТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| АБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 4х5
				td
					+e.text.verysmall 26
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 500,00 ₽
			tr
				td.parent 
					+e.text.verysmall УТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| Бинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 3х4
				td
					+e.text.verysmall 28
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1872,00 ₽
			tr
				td.parent 
					+e.text.verysmall БТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| ВБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 5х5
				td
					+e.text.verysmall 27
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1200,50 ₽
			tr
				td.parent 
					+e.text.verysmall АТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| АБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 4х5
				td
					+e.text.verysmall 26
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 500,00 ₽
			tr
				td.parent 
					+e.text.verysmall УТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| Бинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 3х4
				td
					+e.text.verysmall 28
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1872,00 ₽
			tr
				td.parent 
					+e.text.verysmall БТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| ВБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 5х5
				td
					+e.text.verysmall 27
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1200,50 ₽
			tr
				td.parent 
					+e.text.verysmall АТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| АБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 4х5
				td
					+e.text.verysmall 26
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 500,00 ₽
			tr
				td.parent 
					+e.text.verysmall УТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| Бинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 3х4
				td
					+e.text.verysmall 28
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1872,00 ₽
			tr
				td.parent 
					+e.text.verysmall БТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| ВБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 5х5
				td
					+e.text.verysmall 27
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1200,50 ₽
			tr
				td.parent 
					+e.text.verysmall АТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| АБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 4х5
				td
					+e.text.verysmall 26
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 500,00 ₽
			tr
				td.parent 
					+e.text.verysmall УТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| Бинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 3х4
				td
					+e.text.verysmall 28
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1872,00 ₽
			tr
				td.parent 
					+e.text.verysmall БТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| ВБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 5х5
				td
					+e.text.verysmall 27
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1200,50 ₽
			tr
				td.parent 
					+e.text.verysmall АТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| АБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 4х5
				td
					+e.text.verysmall 26
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 500,00 ₽
			tr
				td.parent 
					+e.text.verysmall УТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| Бинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 3х4
				td
					+e.text.verysmall 28
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1872,00 ₽
			tr
				td.parent 
					+e.text.verysmall БТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| ВБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 5х5
				td
					+e.text.verysmall 27
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 1200,50 ₽
			tr
				td.parent 
					+e.text.verysmall АТ000000336
				td.name
					+e.link.verysmall.A(href="#") 
						| АБинт марлевый медицинский нестерильный
					+e.toggle.js-mobile-list Развернуть
				td
					+e.text.verysmall 4х5
				td
					+e.text.verysmall 26
				td
					+e.text.verysmall п/э пакет
				td
					+e.text.verysmall 1400
				td
					+e.text.verysmall Россия ПКФ "ВераМед"
				td
					+e.text.b.verysmall.nobr 500,00 ₽
	+e.button.btn__.BUTTON.js-table-more
		+e.back.js-circles.SPAN
		+e.text.SPAN Показать еще