+e.category.category__.flex
	+e.item.A(href="#")
		+e.preview.DIV
			+e.IMG.preview-image(src="/img/cat_1.jpg")
		+e.name.p.DIV Бинт гипсовый
	+e.item.A(href="#")
		+e.preview.DIV
			+e.IMG.preview-image(src="/img/cat_2.jpg")
		+e.name.p.DIV Бинт полимерный
	+e.item.A(href="#")
		+e.preview.DIV
			+e.IMG.preview-image(src="/img/cat_3.jpg")
		+e.name.p.DIV Бинт полиуретановый
	+e.item.A(href="#")
		+e.preview.DIV
			+e.IMG.preview-image(src="/img/cat_4.jpg")
		+e.name.p.DIV Бинт самофиксирующийся
	+e.item.A(href="#")
		+e.preview.DIV
			+e.IMG.preview-image(src="/img/cat_5.jpg")
		+e.name.p.DIV Бинт эластичный
	+e.item.A(href="#")
		+e.preview.DIV
			+e.IMG.preview-image(src="/img/cat_6.jpg")
		+e.name.p.DIV Бинт марлевые