+b.SECTION.company
	+e.bg.swiper-container
		.swiper-wrapper
			+e.bg-slide.swiper-slide(style="background-image:url(app/img/company_bg1.png)")
			+e.bg-slide.swiper-slide(style="background-image:url(app/img/company_bg2.png)")
			+e.bg-slide.swiper-slide(style="background-image:url(app/img/company_bg3.png)")
			+e.bg-slide.swiper-slide(style="background-image:url(app/img/company_bg4.png)")
	+e.wrap.wrap
		+e.top
			+e.top-content.swiper-container
				.swiper-wrapper
					+e.top-item.swiper-slide
						+e.H3.title.h3 10 лет на рынке медицинских изделий
						+e.desc
							| Мы производители следующей продукции: бинты марлевые медицинские нестерильные 
							br
							| и стерильные, салфетки стерильные, отрезы марлевые, пакеты перевязочные, аптечки 
							br
							| автомобильные нового образца.
					+e.top-item.swiper-slide
						+e.H3.title.h3 10 лет на рынке медицинских изделий
						+e.desc
							| ООО «ТД ВераМед» также занимается поставками изделий медицинского назначения: шприцы отечественные и импортные, вата, системы переливания, лейкопластыри, бахилы, клеенка, перчатки, бинты гипсовые…
					+e.top-item.swiper-slide
						+e.H3.title.h3 10 лет на рынке медицинских изделий
						+e.desc
							| Весь ассортимент наших товаров сопровождается сертификатами соответствия, декларациями, регистрационными удостоверениями, паспортами и другими необходимыми документами.
					+e.top-item.swiper-slide
						+e.H3.title.h3 10 лет на рынке медицинских изделий
						+e.desc
							| Для всех покупателей, отправляющих продукцию через транспортные компании, мы бесплатно доставляем товар к ТК ПЭК (Москва) и Деловые Линии (Ногинск) при любой сумме заказа.
			+e.nav
				+b.btn-nav._left
					span.btn__back.js-circles
					+e.icon
						+icon('arrow2', '0 0 9 17')
				+e.pagination.pagination
				+b.btn-nav._right
					span.btn__back.js-circles
					+e.icon
						+icon('arrow2', '0 0 9 17')
		+e.bottom
			+e.desc
				| Наши клиенты пользуются услугами следующих транспортных компаний:
			+e.list.swiper-container
				.swiper-wrapper
					+e.item.swiper-slide
						img(src="/img/company_rect1.jpg")
					+e.item.swiper-slide
						img(src="/img/company_rect2.jpg")
					+e.item.swiper-slide
						img(src="/img/company_rect3.jpg")
					+e.item.swiper-slide
						img(src="/img/company_rect4.jpg")
					+e.item.swiper-slide
						img(src="/img/company_rect5.jpg")
					+e.item.swiper-slide
						img(src="/img/company_rect6.jpg")
					+e.item.swiper-slide
						img(src="/img/company_rect7.jpg")
					+e.item.swiper-slide
						img(src="/img/company_rect8.jpg")