+b.SECTION.faq
	+e.wrap.wrap
		+e.H2.title.h1._big
			| Как заказать мед. изделия?
		+e.desc.h6
			| Если не нашли ответ на свой вопрос, звоните!
		+e.inside-wrap
			+e.list
				+e.item.active
					+e.head
						+e.H5.item-title.h4 Товар есть в наличии на складе?
						+e.icon
					+e.content(style="display:block")
						p
							| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
				+e.item
					+e.head
						+e.H5.item-title.h4 Какие сроки поставки?
						+e.icon
					+e.content
						p
							| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
						p
							| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
				+e.item
					+e.head
						+e.H5.item-title.h4 Есть ли адресная доставка?
						+e.icon
					+e.content
						p
							| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
				+e.item
					+e.head
						+e.H5.item-title.h4 Какие условия оплаты?
						+e.icon
					+e.content
						p
							| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
						p
							| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
				+e.item
					+e.head
						+e.H5.item-title.h4 Предусмотрены скидки?
						+e.icon
					+e.content
						p
							| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
				+e.item
					+e.head
						+e.H5.item-title.h4 Какими транспортными компаниями осуществляется поставка?
						+e.icon
					+e.content
						p
							| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
						p
							| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
				+e.item
					+e.head
						+e.H5.item-title.h5 В каком регионе вы доставляете товарh4						+e.icon
					+e.content
						p
							| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
						p
							| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
				+e.item
					+e.head
						+e.H5.item-title.h4 Как оформить нормативные документы с вашей помощью?
						+e.icon
					+e.content
						p
							| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.