+b.FOOTER.footer
	+e.top.header__
		+e.top
			+e.wrap.wrap
				+e.row.flex
					+e.cell._logo
						+e.logo.logo__._white.flex._vertical.A(href="/")
							+e.circle
							+e.label.small Верамед
					+e.cell._menu
						+e.menu.menu__._white.flex._vertical.UL
							+e.item.LI
								+e.link._arrow.A(href="#") Каталог
							+e.item.LI
								+e.link._arrow.A(href="#") О компании
							+e.item.LI
								+e.link._arrow.A(href="#") Контакты
							+e.item.LI
								+e.link.A(href="#") Прайс-лист
					+e.cell._phone._center
						+e.phone.small.phone__._white.A(href="tel:+74953696639")
							+e.icon
								+icon('phone', '0 0 18 17')
							| +7 (495) 369-66-39
					+e.cell._search._right
						+e.button.border-button__._white.BUTTON
							+e.back.js-circles.SPAN
							+e.text.SPAN Заказать звонок
						+e.scroll.scroll-top__.A(href='#')
							+icon('arrow2', '0 0 9 17')
	+e.bottom
		+e.wrap.wrap
			+e.row.flex
				+e.menu.UL
					+e.menu-item.LI
						+e.menu-link._arrow.middle.A(href="#") Каталог
					+e.menu-item.LI
						+e.menu-link._arrow.middle.A(href="#") О компании
					+e.menu-item.LI
						+e.menu-link._arrow.middle.A(href="#") Контакты
					+e.menu-item.LI
						+e.menu-link.middle.A(href="#") Прайс-лист
				+e.cell._left.flex._justify
					+e.part._left
						+e.title.h4 Свяжитесь с нами
						+e.contacts.contacts__.flex._justify
							+e.column._left
								+e.string._always
									+e.phone.A(href="tel:+74953696639") +7 (495) 369-66-39
								+e.string._always
									+e.phone.A(href="tel:+74959718939") +7 (495) 971-89-39			
							+e.column._right
								+e.string._always
									+e.link.small.A(href="mailto:info@вера-мед.рф") info@вера-мед.рф
								+e.help.verysmall
									| Пн.-пт.: 9:00 – 18:00
									br
									| Сб-Вс: выходные
					+e.part._right
						+e.title.h4 Мы находимся
						+e.contacts.contacts__
							+e.row.flex._justify
								+e.cell._left._white.verysmall
									| Московская область
									br
									| Павлово Посадский район
									br
									| с. Рахманово, д. 172
								+e.cell._right
									+b.index._white
										+e.text.verysmall Индекс
										+e.box.verysmall 142520
						+e.creator.verysmall.A(href="https://karanikola.ru/" target="_blank")
							| Создание сайта - 
							b.b Karanikola
				+e.cell._right
					+b.horizontal-news.flex._vertical.A(href="#")
						+e.cell._left.DIV
							+e.preview.DIV
								+e.IMG.preview-img.object-fit(src="/img/news-item.png")
						+e.cell._right.DIV
							+e.date.verysmall.DIV
								| 29.08.2017
							+e.text.middle.DIV
								| Кто в Новосибирске получит субсидии на производство медицинских товаров?