+b.SECTION.fotogallery
	+e.wrap.wrap
		+e.head
			+e.head-left
				+e.H2.title.h1._big
					| Фотогалерея
				+e.desc
					| Рабочие будни на нашем производстве и в офисе.
			+e.nav
				+b.btn-nav._left
					span.btn__back.js-circles
					+e.icon
						+icon('arrow2', '0 0 9 17')
				+e.counter.counter
				+b.btn-nav._right
					span.btn__back.js-circles
					+e.icon
						+icon('arrow2', '0 0 9 17')
	+e.slider.swiper-container
		+e.list.swiper-wrapper.js-gallery
			+e.A.slide.swiper-slide(href="app/img/fotogallery1.jpg",title="Работа менеджера по обслуживанию клиентов")
				+e.item
					+e.IMG.item-foto(src="/img/fotogallery1.jpg",alt="Работа менеджера по обслуживанию клиентов")
					+e.item-name
						strong Работа менеджера по обслуживанию клиентов
			+e.A.slide.swiper-slide(href="app/img/fotogallery2.jpg",title="Работа менеджера по обслуживанию клиентов")
				+e.item
					+e.IMG.item-foto(src="/img/fotogallery2.jpg",alt="Работа менеджера по обслуживанию клиентов")
					+e.item-name
						strong Работа менеджера по обслуживанию клиентов
			+e.A.slide.swiper-slide(href="app/img/fotogallery3.jpg",title="Работа менеджера по обслуживанию клиентов")
				+e.item
					+e.IMG.item-foto(src="/img/fotogallery3.jpg",alt="Работа менеджера по обслуживанию клиентов")
					+e.item-name
						strong Работа менеджера по обслуживанию клиентов
			+e.A.slide.swiper-slide(href="app/img/fotogallery1.jpg",title="Работа менеджера по обслуживанию клиентов")
				+e.item
					+e.IMG.item-foto(src="/img/fotogallery1.jpg",alt="Работа менеджера по обслуживанию клиентов")
					+e.item-name
						strong Работа менеджера по обслуживанию клиентов
			+e.A.slide.swiper-slide(href="app/img/fotogallery2.jpg",title="Работа менеджера по обслуживанию клиентов")
				+e.item
					+e.IMG.item-foto(src="/img/fotogallery2.jpg",alt="Работа менеджера по обслуживанию клиентов")
					+e.item-name
						strong Работа менеджера по обслуживанию клиентов
			+e.A.slide.swiper-slide(href="app/img/fotogallery3.jpg",title="Работа менеджера по обслуживанию клиентов")
				+e.item
					+e.IMG.item-foto(src="/img/fotogallery3.jpg",alt="Работа менеджера по обслуживанию клиентов")
					+e.item-name
						strong Работа менеджера по обслуживанию клиентов
	+e.pagination.pagination