+b.map#map(data-lat="55.790760" data-lng="37.466255" data-addr="с. Рахманово, <strong>д. 172</strong>")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVfaEXUdaqazXAymi_chvWL5MmmAIL2h8")