+b.meta.flex
	+e.user Username
	+e.date Декабрь 18, 2019
	+e.A.comments(href="post.html#comments",title="Комментарий")
		+e.comments-icon
			+icon('comments','0 0 14 14')
		+e.comments-text 5
	+e.A.likes(href="#",title="Like")
		+e.likes-icon
			+icon('like','0 0 13 12')
		+e.likes-text 22
	+e.A.views(href="post.html",title="Просмотров")
		+e.views-icon
			+icon('views','0 0 19 12')
		+e.views-text 756