+b.SECTION.catalog
	+e.wrap.wrap
		+b.breadcrumbs.flex._vertical.UL
			+e.item.LI
				+e.link.A(href="#")
					+e.home
						+icon('home', '0 0 18 18')
			+e.item.LI
				+e.link.A(href="#") Каталог
			+e.item.LI
				+e.link.A(href="#") Бинты
			+e.item.LI
				+e.link._current.A(href="#") Бинт марлевый медицинский нестерильный 5х5
		+e.mb.flex._vertical._center.js-open-sidebar
			+e.mb-box
				+e.mb-square
				+e.mb-square
				+e.mb-square
				+e.mb-square
			+e.mb-label.verysmall Показать каталог
		+e.container
			+e.cell._left#sidebar
				include sidebar
			+e.cell._right
				+e.part._single
					+b.single
						+e.__requisites
							+e.title._tosmall.h1 Реквизиты
							+e.bottom-desc.small
								| Общество с ограниченной ответственностью «Торговый Дом ВераМед»
							+e.dt._info.dt__.TABLE
								tr
									td
										+e.text.b.is-dark Полное фирменное наименование с указанием организационно-правовой формы юридического лица
									td
										+e.text.is-dark Общество с ограниченной ответственностью  «Торговый  дом ВераМед»
								tr
									td
										+e.text.b.is-dark Сокращенное фирменное наименование юридического лица
									td
										+e.text.is-dark ООО «ТД  ВераМед»
								tr
									td
										+e.text.b.is-dark Юридический адрес
									td
										+e.text.is-dark 144009 г. Электросталь ул. Восточная д.6 кв.195
								tr
									td
										+e.text.b.is-dark Фактический адрес
									td
										+e.text.is-dark 142520, Московская область, Павлово-Посадский  район, село Рахманово, д. 172
								tr
									td
										+e.text.b.is-dark E-mail / Сайт
									td
										+e.text.is-dark 40702810000000116282
								tr
									td
										+e.text.b.is-dark Р/с
									td
										+e.text.is-dark 40702810000000116282
								tr
									td
										+e.text.b.is-dark К/с
									td
										+e.text.is-dark 30101810100000000716
								tr
									td
										+e.text.b.is-dark БИК
									td
										+e.text.is-dark 044525716
								tr
									td
										+e.text.b.is-dark ИНН / КПП
									td
										+e.text.is-dark 5053038279 / 505301001
								tr
									td
										+e.text.b.is-dark ОГРН
									td
										+e.text.is-dark 1155053000431
								tr
									td
										+e.text.b.is-dark ОКПО
									td
										+e.text.is-dark 59373529
								tr
									td
										+e.text.b.is-dark ОКВЭД
									td
										+e.text.is-dark 51.46.1
								tr
									td
										+e.text.b.is-dark Банк
									td
										+e.text.is-dark ВТБ 24 (ПАО)
								tr
									td
										+e.text.b.is-dark Контактный телефон
									td
										+e.text.is-dark (495)369-66-39
								tr
									td
										+e.text.b.is-dark Генеральный директор
									td
										+e.text.is-dark Чупеева Елена Викторовна
						+e.delivery
							+e.delivery-title._tosmall.h3 Доставка и оплата
							+e.delivery-desc.small
								| Выбирайте удобный способ доставки и оплаты, а мы доставим Ваш заказ в целости и сохранности
							+e.tabs.tabs__
								+e.top.flex._vertical
									+e.list.swiper-container
										+e.inner.swiper-wrapper
											.swiper-slide
												+e.list-item.p Доставка
											.swiper-slide
												+e.list-item.p Самовывоз
											.swiper-slide
												+e.list-item.p Оплата
									+e.nav.flex._vertical._justify
										+e.nav-button._prev.swiper-button-prev
											+icon('arrow2', '0 0 9 17')
										+e.nav-button._next.swiper-button-next
											+icon('arrow2', '0 0 9 17')
								+e.content.swiper-container
									.swiper-wrapper
										.swiper-slide
											+e.content-item
												+b.delivery.flex_justify
													+e.content.content
														+e.title.h3.H3 Способы доставки
														ul
															li Для покупателей из Москвы и Московской области осуществляем бесплатную доставку собственным транспортом в течение 1 дня (при заказе на сумму свыше 30 т.р.). Стоимость доставки заказов до 30 тыс. р. — 1000 руб.
															li Для всех покупателей, отправляющих продукцию через ТК Деловые Линии, бесплатно доставляем товар до терминала не зависимо от суммы счета. Доставка груза по России через транспортную компанию «Деловые Линии» осуществляется со скидкой 10%, если в накладной стоит отправитель ТД «ВераМед», то на межтерминальную перевозку автоматически проставляется скидка 10 % вне зависимости от наименования получателя или плательщика.
													+e.form.FORM(action="app/mail")
														+e.OBJECT.logo(type='image/svg+xml', data='/app/objects/logo_delivery.svg')
														+e.field._point
															+e.input.INPUT(placeholder="Город отправки",maxlength="50",name="derival_point_cod",id="derival_point_cod")
															+e.LABEL.checkbox.checkbox__
																+e.input.INPUT(type="checkbox",checked="checked")
																+e.icon.SPAN
																	+icon('check','0 0 15 11')
																+e.SPAN.text.verysmall От адреса
														+e.field._point
															+e.input.INPUT(placeholder="Город доставки",maxlength="50",name="arrival_point_cod",id="arrival_point_cod")
															+e.LABEL.checkbox.checkbox__
																+e.input.INPUT(type="checkbox")
																+e.icon.SPAN
																	+icon('check','0 0 15 11')
																+e.SPAN.text.verysmall От адреса
														+e.field._box
															+e.sizes-inputs
																+e.field._weight
																	+e.input._pad-right.INPUT(type="number",placeholder="Вес",maxlength="5",name="sized_weight",id="sized_weight")
																	+e.value.verysmall кг
																+e.field._volume
																	+e.input._pad-right.INPUT(type="number",placeholder="Объем",maxlength="5",name="sized_weight",id="sized_weight")
																	+e.value.verysmall м
																		sup 3
															+e.sizes-info.verysmall
																+e.sizes-off
																	a.js-oversized(href="#") Есть негабаритные места
																	br
																	| место считается негабаритным, если вес места более 100кг или одно из измерений равно или более 3м
																+e.sizes-on
																	strong Негабаритные грузоместа
															+e.sizes-close
																+icon('close','0 0 30 30')
														+e.field
															+e.insurance-info.verysmall
																strong Страхование
																br
																span Объявленная стоимость
															+e.field._insurance
																+e.input._pad-right.js-thousand.INPUT(type="text",placeholder="4324 423 42",maxlength="50",name="strah2",id="strah2")
																+e.value.verysmall ₽
														+e.field
															+e.pack-content.verysmall
																strong.verysmall Упаковка
																+e.pack-icon
																	stong.verysmall i
																	+e.pack-info.verysmall
																		| Упаковка Деловых Линий или стандартная упаковка от производителей
															+e.field._pack
																+e.select.select__
																	+e.bg
																	+e.INPUT.input(type="hidden" name="upakovka1" value="От производителя")
																	+e.inner
																		+e.wrapper
																			+e.label.verysmall 
																				span От производителя
																				.delivery__value
																			+e.list
																				+e.list-item.verysmall.is-selected(data-value='От производителя') От производителя
																				+e.list-item.verysmall Паллетный борд
																				+e.list-item.verysmall Жесткая упаковка
																				+e.list-item.verysmall Мешки
																				+e.list-item.verysmall Дополнительная упаковка
																				+e.list-item.verysmall Воздушно-пузырьковая пленка
														+e.button.btn__._orange.BUTTON(type="submit")
															+e.back.js-circles.SPAN
															+e.text.SPAN Стоимость и срок доставки
										.swiper-slide
											+e.content-item.content
												+e.pickup.flex._justify._vertical
													+e.pickup-left.content
														h3 Самовывоз со склада
														p
															| Самостоятельный вывоз приобретенной продукции производится со склада компании, расположенного по адресу:
														p
															| Московская область, Павлово-Посадский район, село Рахманово, дом 172 (территория Рахмановского Шелкового Комбината).
													+e.pickup-right
														a.img-preview.js-img-modal(href="app/img/pickup_big.jpg",title="Самовывоз со склада")
															img(src="/img/pickup_min.jpg",alt="Самовывоз со склада")
															span.img-preview__zoom
																svg(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
																	rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
																	circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
										.swiper-slide
											+e.content-item.content
												h3 Способы оплаты
												p
													| Самостоятельный вывоз приобретенной продукции производится со склада компании, расположенного по адресу:
												p
													| Московская область, Павлово-Посадский район, село Рахманово, дом 172 (территория Рахмановского Шелкового Комбината).
												p
													strong Работаем по безналичному расчету.
												p
													| После отправки запроса онлайн через наш сайт, менеджер свяжется с Вами для уточнения деталей, заключения договора, выставления счета.
												h4 Скидки и рассрочка
												p
													| В индивидуальном порядке предоставляется скидка на объем заказанной продукции (заказы на сумму свыше 50 тыс. рублей).
												p
													| Возможна оплата частями (отсрочка платежа) для наших постоянных клиентов.
												h4 Внимание
												p
													| В связи с падением курса рубля, счет на оплату действителен только в течение 2 (двух) банковских дней. 
													br
													| В случае оплаты счета с истекшим сроком действия без предварительного согласования с менеджером, товар будет отгружен по ценам, действующим на момент оплаты.     
						+e.vacancy
							+e.vacancy-title._tosmall.h1 Вакансии
							+e.vacancy-desc.small
								| Вакантные места в компании Торговый Дом «ВераМед»
							+e.tabs.tabs__
								+e.top.flex._vertical
									+e.list.swiper-container
										+e.inner.swiper-wrapper
											.swiper-slide
												+e.list-item.p Менеджер&nbsp;по&nbsp;продажам
											.swiper-slide
												+e.list-item.p Вакансия2
											.swiper-slide
												+e.list-item.p Вакансия3
											.swiper-slide
												+e.list-item.p Вакансия4
											.swiper-slide
												+e.list-item.p Вакансия5
									+e.nav.flex._vertical._justify
										+e.nav-button._prev.swiper-button-prev
											+icon('arrow2', '0 0 9 17')
										+e.nav-button._next.swiper-button-next
											+icon('arrow2', '0 0 9 17')
								+e.content.swiper-container
									.swiper-wrapper
										.swiper-slide
											+e.content-item.content
												h3 Менеджер по продажам
												p Заработная плата — от 30 000 рублей.
												h3 Требования
												ol
													li Опыт работы в сфере продаж не менее 1 года.
													li Уверенный пользователь ПК, в частности MS Office.
													li Навыки работы с 1С 8.
												h3 Место работы
												h4 Адрес компании:
												p 142520, Московская область, Павлово-Посадский район, 
													br
													| село Рахманово, дом 172 (территория Рахмановского 
													br
													| Шелкового Комбината).
												h4 График работы:
												p 9.00 до 18.00, понедельник-пятница.
												h3 Детальная информация
												p
													| Для уточнения деталей о сотрудничестве, свяжитесь 
													br
													| с нами любым удобным способом:
												p
													strong Написав на почту: 
													| info@вера-мед.рф
												p
													strong Позвонив по одному из номеров: 
													| (495) 369-66-39, 
													br
													| (495) 971-89-39, (495) 741-87-29
												p
													strong Отправив заявку через форму обратной связи
										.swiper-slide
											+e.content-item.content
												h3 Менеджер по продажам
												p Заработная плата — от 30 000 рублей.
												h3 Требования
												ol
													li Опыт работы в сфере продаж не менее 1 года.
													li Уверенный пользователь ПК, в частности MS Office.
													li Навыки работы с 1С 8.
												h3 Место работы
												h4 Адрес компании:
												p 142520, Московская область, Павлово-Посадский район, 
													br
													| село Рахманово, дом 172 (территория Рахмановского 
													br
													| Шелкового Комбината).
												h4 График работы:
												p 9.00 до 18.00, понедельник-пятница.
												h3 Детальная информация
												p
													| Для уточнения деталей о сотрудничестве, свяжитесь 
													br
													| с нами любым удобным способом:
												p
													strong Написав на почту: 
													| info@вера-мед.рф
												p
													strong Позвонив по одному из номеров: 
													| (495) 369-66-39, 
													br
													| (495) 971-89-39, (495) 741-87-29
												p
													strong Отправив заявку через форму обратной связи
										.swiper-slide
											+e.content-item.content
												h3 Менеджер по продажам
												p Заработная плата — от 30 000 рублей.
												h3 Требования
												ol
													li Опыт работы в сфере продаж не менее 1 года.
													li Уверенный пользователь ПК, в частности MS Office.
													li Навыки работы с 1С 8.
												h3 Место работы
												h4 Адрес компании:
												p 142520, Московская область, Павлово-Посадский район, 
													br
													| село Рахманово, дом 172 (территория Рахмановского 
													br
													| Шелкового Комбината).
												h4 График работы:
												p 9.00 до 18.00, понедельник-пятница.
												h3 Детальная информация
												p
													| Для уточнения деталей о сотрудничестве, свяжитесь 
													br
													| с нами любым удобным способом:
												p
													strong Написав на почту: 
													| info@вера-мед.рф
												p
													strong Позвонив по одному из номеров: 
													| (495) 369-66-39, 
													br
													| (495) 971-89-39, (495) 741-87-29
												p
													strong Отправив заявку через форму обратной связи
										.swiper-slide
											+e.content-item.content
												h3 Менеджер по продажам
												p Заработная плата — от 30 000 рублей.
												h3 Требования
												ol
													li Опыт работы в сфере продаж не менее 1 года.
													li Уверенный пользователь ПК, в частности MS Office.
													li Навыки работы с 1С 8.
												h3 Место работы
												h4 Адрес компании:
												p 142520, Московская область, Павлово-Посадский район, 
													br
													| село Рахманово, дом 172 (территория Рахмановского 
													br
													| Шелкового Комбината).
												h4 График работы:
												p 9.00 до 18.00, понедельник-пятница.
												h3 Детальная информация
												p
													| Для уточнения деталей о сотрудничестве, свяжитесь 
													br
													| с нами любым удобным способом:
												p
													strong Написав на почту: 
													| info@вера-мед.рф
												p
													strong Позвонив по одному из номеров: 
													| (495) 369-66-39, 
													br
													| (495) 971-89-39, (495) 741-87-29
												p
													strong Отправив заявку через форму обратной связи
										.swiper-slide
											+e.content-item.content
												h3 Менеджер по продажам
												p Заработная плата — от 30 000 рублей.
												h3 Требования
												ol
													li Опыт работы в сфере продаж не менее 1 года.
													li Уверенный пользователь ПК, в частности MS Office.
													li Навыки работы с 1С 8.
												h3 Место работы
												h4 Адрес компании:
												p 142520, Московская область, Павлово-Посадский район, 
													br
													| село Рахманово, дом 172 (территория Рахмановского 
													br
													| Шелкового Комбината).
												h4 График работы:
												p 9.00 до 18.00, понедельник-пятница.
												h3 Детальная информация
												p
													| Для уточнения деталей о сотрудничестве, свяжитесь 
													br
													| с нами любым удобным способом:
												p
													strong Написав на почту: 
													| info@вера-мед.рф
												p
													strong Позвонив по одному из номеров: 
													| (495) 369-66-39, 
													br
													| (495) 971-89-39, (495) 741-87-29
												p
													strong Отправив заявку через форму обратной связи
						+b.team.single__team
							.single__team-title._tosmall.h1 Наша команда
							.single__team-desc.small
								| Знакомьтесь с ведущими специалистами ТД «ВераМед».
							.single__team-slider.swiper-container.js-mobile-slider
								+e.list.swiper-wrapper
									+e.slide.swiper-slide
										+b.manager.team__item
											+e.avatar
												+e.avatar-inner._online
													+e.IMG.avatar-image.object-fit(src="/img/avatar.jpg")
												+e.online
											+e.name.middle Курило Елена Игоревна
											+e.text.verysmall Начальник отдела продаж
											+e.phone.middle.A(href="tel:+74953696639") +7 (495) 369-66-39
											+e.text.verysmall ДОБ. 1003
											+e.button.border-button__.BUTTON
												+e.back.js-circles.SPAN
												+e.text.SPAN Напишите мне
									+e.slide.swiper-slide
										+b.manager.team__item
											+e.avatar
												+e.avatar-inner._online
													+e.IMG.avatar-image.object-fit(src="/img/avatar.jpg")
												+e.offline
											+e.name.middle Курило Елена Игоревна
											+e.text.verysmall Начальник отдела продаж
											+e.phone.middle.A(href="tel:+74953696639") +7 (495) 369-66-39
											+e.text.verysmall ДОБ. 1003
											+e.button.border-button__.BUTTON
												+e.back.js-circles.SPAN
												+e.text.SPAN Напишите мне
									+e.slide.swiper-slide
										+b.manager.team__item
											+e.avatar
												+e.avatar-inner._online
													+e.IMG.avatar-image.object-fit(src="/img/avatar.jpg")
												+e.online
											+e.name.middle Курило Елена Игоревна
											+e.text.verysmall Начальник отдела продаж
											+e.phone.middle.A(href="tel:+74953696639") +7 (495) 369-66-39
											+e.text.verysmall ДОБ. 1003
											+e.button.border-button__.BUTTON
												+e.SPAN.back.js-circles
												+e.SPAN.text Напишите мне
									+e.slide.swiper-slide
										+b.manager.team__item
											+e.avatar
												+e.avatar-inner._online
													+e.IMG.avatar-image.object-fit(src="/img/avatar.jpg")
												+e.online
											+e.name.middle Курило Елена Игоревна
											+e.text.verysmall Начальник отдела продаж
											+e.phone.middle.A(href="tel:+74953696639") +7 (495) 369-66-39
											+e.text.verysmall ДОБ. 1003
											+e.button.border-button__.BUTTON
												+e.back.js-circles.SPAN
												+e.text.SPAN Напишите мне
									+e.slide.swiper-slide
										+b.manager.team__item
											+e.avatar
												+e.avatar-inner._online
													+e.IMG.avatar-image.object-fit(src="/img/avatar.jpg")
												+e.online
											+e.name.middle Курило Елена Игоревна
											+e.text.verysmall Начальник отдела продаж
											+e.phone.middle.A(href="tel:+74953696639") +7 (495) 369-66-39
											+e.text.verysmall ДОБ. 1003
											+e.button.border-button__.BUTTON
												+e.SPAN.back.js-circles
												+e.SPAN.text Напишите мне
									+e.slide.swiper-slide
										+b.manager.team__item
											+e.avatar
												+e.avatar-inner
													+e.IMG.avatar-image.object-fit(src="/img/avatar.jpg")
												+e.offline
											+e.name.middle Курило Елена Игоревна
											+e.text.verysmall Начальник отдела продаж
											+e.phone.middle.A(href="tel:+74953696639") +7 (495) 369-66-39
											+e.text.verysmall ДОБ. 1003
											+e.button.border-button__.BUTTON
												+e.SPAN.back.js-circles
												+e.SPAN.text Напишите мне
							+e.nav
								+b.btn-nav._left
									span.btn__back.js-circles
									+e.icon
										+icon('arrow2', '0 0 9 17')
								+e.counter.counter
								+b.btn-nav._right
									span.btn__back.js-circles
									+e.icon
										+icon('arrow2', '0 0 9 17')
						+e.gallery
							+e.gallery-title._tosmall.h1 Фотогалерея
							+e.gallery-slider.swiper-container.js-mobile-slider
								+e.gallery-list.swiper-wrapper.js-gallery
									+e.A.gallery-slide.img-preview.swiper-slide(href="app/img/fotogallery1.jpg",title="Работа менеджера по обслуживанию клиентов")
										+e.IMG.gallery-foto(src="/img/fotogallery1_min.jpg",alt="Работа менеджера по обслуживанию клиентов")
										span.img-preview__zoom
											svg(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
												rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
												circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
									+e.A.gallery-slide.img-preview.swiper-slide(href="app/img/fotogallery2.jpg",title="Работа менеджера по обслуживанию клиентов")
										+e.IMG.gallery-foto(src="/img/fotogallery2_min.jpg",alt="Работа менеджера по обслуживанию клиентов")
										span.img-preview__zoom
											svg(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
												rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
												circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
									+e.A.gallery-slide.img-preview.swiper-slide(href="app/img/fotogallery3.jpg",title="Работа менеджера по обслуживанию клиентов")
										+e.IMG.gallery-foto(src="/img/fotogallery3_min.jpg",alt="Работа менеджера по обслуживанию клиентов")
										span.img-preview__zoom
											svg(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
												rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
												circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
									+e.A.gallery-slide.img-preview.swiper-slide(href="app/img/fotogallery1.jpg",title="Работа менеджера по обслуживанию клиентов")
										+e.IMG.gallery-foto(src="/img/fotogallery1_min.jpg",alt="Работа менеджера по обслуживанию клиентов")
										span.img-preview__zoom
											svg(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
												rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
												circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
									+e.A.gallery-slide.img-preview.swiper-slide(href="app/img/fotogallery2.jpg",title="Работа менеджера по обслуживанию клиентов")
										+e.IMG.gallery-foto(src="/img/fotogallery2_min.jpg",alt="Работа менеджера по обслуживанию клиентов")
										span.img-preview__zoom
											svg(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
												rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
												circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
									+e.A.gallery-slide.img-preview.swiper-slide(href="app/img/fotogallery3.jpg",title="Работа менеджера по обслуживанию клиентов")
										+e.IMG.gallery-foto(src="/img/fotogallery3_min.jpg",alt="Работа менеджера по обслуживанию клиентов")
										span.img-preview__zoom
											svg(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
												rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
												circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
									+e.A.gallery-slide.img-preview.swiper-slide(href="app/img/fotogallery1.jpg",title="Работа менеджера по обслуживанию клиентов")
										+e.IMG.gallery-foto(src="/img/fotogallery1_min.jpg",alt="Работа менеджера по обслуживанию клиентов")
										span.img-preview__zoom
											svg(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
												rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
												circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
									+e.A.gallery-slide.img-preview.swiper-slide(href="app/img/fotogallery2.jpg",title="Работа менеджера по обслуживанию клиентов")
										+e.IMG.gallery-foto(src="/img/fotogallery2_min.jpg",alt="Работа менеджера по обслуживанию клиентов")
										span.img-preview__zoom
											svg(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
												rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
												circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
									+e.A.gallery-slide.img-preview.swiper-slide(href="app/img/fotogallery3.jpg",title="Работа менеджера по обслуживанию клиентов")
										+e.IMG.gallery-foto(src="/img/fotogallery3_min.jpg",alt="Работа менеджера по обслуживанию клиентов")
										span.img-preview__zoom
											svg(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
												rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
												circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
								+e.gallery-nav
									+b.btn-nav._left
										+icon('arrow2', '0 0 9 17')
									+e.gallery-counter.counter
									+b.btn-nav._right
										+icon('arrow2', '0 0 9 17')
						+e.news
							.single__news-title._tosmall.h3 Новости
							+b.search-result.swiper-container.js-mobile-slider
								+e.list.swiper-wrapper
									+e.item._single.swiper-slide
										+e.preview._news.A(href="post.html",title="Кто в Новосибирске получит субсидии на производство медицинских товаров?")
											img(src="/img/proizvodstvo-vaty_medium.jpg",alt="Кто в Новосибирске получит субсидии на производство медицинских товаров?")
										+e.info
											+e.top
												+e.title
													strong Кто в Новосибирске получит субсидии на производство медицинских товаров?
											include meta
									+e.item._single.swiper-slide
										+e.preview._news.A(href="post.html",title="Кто в Новосибирске получит субсидии на производство медицинских товаров?")
											img(src="/img/proizvodstvo-vaty_medium.jpg",alt="Кто в Новосибирске получит субсидии на производство медицинских товаров?")
										+e.info
											+e.top
												+e.title
													strong Полное фирменное наименование с указанием организационно-правовой формы юридического лица
											include meta
									+e.item._single.swiper-slide
										+e.preview._news.A(href="post.html",title="Кто в Новосибирске получит субсидии на производство медицинских товаров?")
											img(src="/img/proizvodstvo-vaty_medium.jpg",alt="Кто в Новосибирске получит субсидии на производство медицинских товаров?")
										+e.info
											+e.top
												+e.title
													strong Полное фирменное наименование с указанием организационно-правовой формы юридического лица
											include meta
								+e.__nav
									+b.btn-nav._left
										+icon('arrow2', '0 0 9 17')
									+e.counter.counter
									+b.btn-nav._right
										+icon('arrow2', '0 0 9 17')
						+b.faq
							.single__faq-title._tosmall.h1 Как заказать мед. изделия?
							.single__faq-desc.small
								| Если не нашли ответ на свой вопрос, звоните!
							+e.inside-wrap
								+e.list
									+e.item.active
										+e.head
											+e.h4.item-title.h4 Товар есть в наличии на складе?
											+e.icon
										+e.content(style="display:block")
											p
												| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
									+e.item
										+e.head
											+e.h4.item-title.h4 Какие сроки поставки?
											+e.icon
										+e.content
											p
												| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
											p
												| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
									+e.item
										+e.head
											+e.h4.item-title.h4 Есть ли адресная доставка?
											+e.icon
										+e.content
											p
												| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
									+e.item
										+e.head
											+e.h4.item-title.h4 Какие условия оплаты?
											+e.icon
										+e.content
											p
												| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
											p
												| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
									+e.item
										+e.head
											+e.h4.item-title.h4 Предусмотрены скидки?
											+e.icon
										+e.content
											p
												| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
									+e.item
										+e.head
											+e.h4.item-title.h4 Какими транспортными компаниями осуществляется поставка?
											+e.icon
										+e.content
											p
												| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
											p
												| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
									+e.item
										+e.head
											+e.h4.item-title.h4 В каком регионе вы доставляете товар?
											+e.icon
										+e.content
											p
												| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
											p
												| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
									+e.item
										+e.head
											+e.h4.item-title.h4 Как оформить нормативные документы с вашей помощью?
											+e.icon
										+e.content
											p
												| Весть товар есть в наличии на нашем складе. Если необходимый объем продукции отсутствует на складе, изготавливаем требуемое количество продукции под заказ. Сроки индивидуального производства составляют 1-2 рабочих дня.
						+b.sertificate
							+e.H2.title.h1._big
								| Продукция соответствует ГОСТ и ТУ
							+e.desc
								| Каждая единица товара сопровождается регистрационным
								br
								| удостоверением, декларацией и сертификатом соответствия.
							+e.slider.swiper-container
								+e.list.swiper-wrapper.js-gallery
									+e.A.item.swiper-slide(href="app/img/serti1_big.jpg", title="Декларация соответствия бинт стерильный и нестерильный")
										+e.foto
											+e.IMG.foto-img(src="/img/serti1_min.jpg")
											+e.zoom
												+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
													rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
													circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
										+e.text
											| Декларация соответствия бинт стерильный и нестерильный
									+e.A.item.swiper-slide(href="app/img/serti2_big.jpg", title="Декларация о соответствии фиксирующий лейкопластырь")
										+e.foto
											+e.IMG.foto-img(src="/img/serti2_min.jpg")
											+e.zoom
												+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
													rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
													circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
										+e.text
											| Декларация о соответствии фиксирующий лейкопластырь
									+e.A.item.swiper-slide(href="app/img/serti3_big.jpg", title="Декларация о соответствии вата хирургическая Емельян Савостин")
										+e.foto
											+e.IMG.foto-img(src="/img/serti3_min.jpg")
											+e.zoom
												+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
													rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
													circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
										+e.text
											| Декларация о соответствии вата хирургическая Емельян Савостин
									+e.A.item.swiper-slide(href="app/img/serti4_big.jpg", title="Декларация о соответствии вата хирургическая русвата")
										+e.foto
											+e.IMG.foto-img(src="/img/serti4_min.jpg")
											+e.zoom
												+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
													rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
													circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
										+e.text
											| Декларация о соответствии вата хирургическая русвата
									+e.A.item.swiper-slide(href="app/img/serti5_big.jpg", title="Декларация о соответствии фиксирующий лейкопластырь")
										+e.foto
											+e.IMG.foto-img(src="/img/serti5_min.jpg")
											+e.zoom
												+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
													rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
													circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
										+e.text
											| Декларация о соответствии фиксирующий лейкопластырь
									+e.A.item.swiper-slide(href="app/img/serti6_big.jpg", title="Декларация о соответствии фиксирующий лейкопластырь")
										+e.foto
											+e.IMG.foto-img(src="/img/serti6_min.jpg")
											+e.zoom
												+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
													rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
													circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
										+e.text
											| Декларация о соответствии фиксирующий лейкопластырь
									+e.A.item.swiper-slide(href="app/img/serti7_big.jpg", title="Декларация о соответствии вата хирургическая Емельян Савостин")
										+e.foto
											+e.IMG.foto-img(src="/img/serti7_min.jpg")
											+e.zoom
												+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
													rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
													circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
										+e.text
											| Декларация о соответствии вата хирургическая Емельян Савостин
									+e.A.item.swiper-slide(href="app/img/serti8_big.jpg", title="Декларация о соответствии вата хирургическая русвата")
										+e.foto
											+e.IMG.foto-img(src="/img/serti8_min.jpg")
											+e.zoom
												+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
													rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
													circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
										+e.text
											| Декларация о соответствии вата хирургическая русвата
							+e.nav
								+b.btn-nav._left
									+icon('arrow2', '0 0 9 17')
								+e.counter.counter
								+b.btn-nav._right
									+icon('arrow2', '0 0 9 17')
						+e.part
							include callbox
						+e.line.line