+b.SECTION.catalog
	+e.wrap.wrap
		+b.breadcrumbs.flex._vertical.UL
			+e.item.LI
				+e.link.A(href="#")
					+e.home
						+icon('home', '0 0 18 18')
			+e.item.LI
				+e.link.A(href="#") Каталог
			+e.item.LI
				+e.link.A(href="#") Новости
			+e.item.LI
				+e.link._current.A(href="#") Кто в Новосибирске получит субсидии на производство медицинских товаров?
		+e.mb.flex._vertical._center.js-open-sidebar
			+e.mb-box
				+e.mb-square
				+e.mb-square
				+e.mb-square
				+e.mb-square
			+e.mb-label.verysmall Показать каталог
		+e.container
			+e.cell._left#sidebar
				include sidebar
			+e.cell._right
				+e.part._single
					+b.post
						+e.title.h3.H1
							| Кто в Новосибирске получит субсидии на производство медицинских товаров?
						include meta
						+e.IMG.img(src="/img/post__img.jpg")
						+e.content
							p
								| Министерство по промышленной торговле в Новосибирской области сделало заявление о приеме заявок на субсидии, которые выделяются из областного бюджета. Также была озвучена информация, как можно использовать финансовую поддержку со стороны государства.
							p
								| Организации медицинской промышленности смогут подать заявки с 11 сентября по 2 октября этого года. А вот конкурс состоится 17 октября в 14.00.
							h4
								| Денежные средства, которые выделяют по программе «Развитие промышленности и повышение конкурентоспособности», будут перераспределяться в следующих направлениях:
							ul
								li Приобретение новых станков, расширение технической базы.
								li Поддержка центров, занимающихся исследованиями и производством.
								li Развитие медицинской промышленности.
							h4 Кроме того, средства могут быть использованы на:
							ul
								li
									| Проведение доклинических исследований. Например, новые исследования по созданию лекарств.
								li
									| Разработку и производство образцов товаров и расходников, которые будут использоваться в медицинской промышленности;
								li
									| На модернизацию или создание лаборатории по исследованию и изучению новых исследований, причем лаборатории все должны быть аккредитованы.
							h4
								| Программа должна создать все необходимые условия, чтобы развивался промышленный потенциал региона, повышалась конкурентоспособность, расширялось производство, велись разработки, которые впоследствии смогут принести хорошие результаты.
							h4
								| Все подаваемые заявки должны быть заполнены согласно требованиям. Обязательным условием является подача документов в срок.
						include comments