+e.FORM.price.form(action="")
	+e.INPUT(type="hidden" name="form" value="ПОЛУЧИТЬ ПРАЙС-ЛИСТ")
	+e.row.flex._vertical
		+e.price-cell
			+e.price-title.h4 Получить прайст-лист
		+e.price-cell
			+e.price-text.verysmall
				| Заполните форму, чтобы получить оптовый 
				br
				| прайс-лист на 3500+ позиций за 5 минут.
		+e.price-cell
			+e.input.input__
				+e.item.INPUT(name="name" placeholder="Евгений")
		+e.price-cell
			+e.input.input__
				+e.item.INPUT(name="email" placeholder="Ваш e-mail")
		+e.price-cell
			+e.input.input__
				+e.item.INPUT(name="phone" placeholder="+7 (___) ___ - __ - __")
		+e.price-cell
			+e.price-button.btn__.BUTTON
				+e.back.js-circles.SPAN
				+e.text.SPAN Отправить
			.form__polit.verysmall
					| Нажимая кнопку "Отправить", Вы принимаете условия 
					a(href="#") политики конфиденциальности 
					|  сайта.