+b.SECTION.products
	+e.wrap.wrap
		+e.head
			+e.head-left
				+e.H2.title.h2 Продукция компании Верамед
				+e.desc
					| Шприцы, вата, системы переливания, лейкопластыри, бахилы, клеенка, перчатки, бинты и тд.
			+e.nav
				+b.btn-nav._left
					span.btn__back.js-circles
					+e.icon
						+icon('arrow2', '0 0 9 17')
				+e.counter.counter
				+b.btn-nav._right
					span.btn__back.js-circles
					+e.icon
						+icon('arrow2', '0 0 9 17')
	+e.slider.swiper-container
		+e.list.swiper-wrapper
			+e.A.item.swiper-slide(href="#")
				+e.img
					img(src='/img/product1.jpg')
				+e.item-content
					+e.item-title
						strong Бинт гипсовый
					+e.item-desc.p
						| Бинт медицинский марлевый, гипсовый, эластичный
			+e.A.item.swiper-slide(href="#")
				+e.img
					img(src='/img/product2.jpg')
				+e.item-content
					+e.item-title
						strong Салфетки марлевые
					+e.item-desc.p
						| Салфетки марлевые стерильные по 5, 10 и 20 штук в упаковке
			+e.A.item.swiper-slide(href="#")
				+e.img
					img(src='/img/product3.jpg')
				+e.item-content
					+e.item-title
						strong Марля медицинская
					+e.item-desc.p
						| Марля медицинская отбеленная отрезами 1, 2, 3, 5 и 10 метров
			+e.A.item.swiper-slide(href="#")
				+e.img
					img(src='/img/product4.jpg')
				+e.item-content
					+e.item-title
						strong Аптечки отраслевые
					+e.item-desc.p
						| Аптечки первой помощи работникам, автомобильная
			+e.A.item.swiper-slide(href="#")
				+e.img
					img(src='/img/product5.jpg')
				+e.item-content
					+e.item-title
						strong Шприцы
					+e.item-desc.p
						| Шприцы двухкомпонентные и 3-х компонентные
			+e.A.item.swiper-slide(href="#")
				+e.img
					img(src='/img/product6.jpg')
				+e.item-content
					+e.item-title
						strong Вата
					+e.item-desc.p
						| Вата хирургическая, глазная, гигиеническая, Зиг-Заг
			+e.A.item.swiper-slide(href="#")
				+e.img
					img(src='/img/product7.jpg')
				+e.item-content
					+e.item-title
						strong Бахилы
					+e.item-desc.p
						| Бахилы полиэтиленовые медицинские одноразовые
			