+b.SECTION.scheme
	+e.wrap.wrap
		+e.H2.title.h1._big
			| Как заказать мед. изделия?
		+e.desc.h6
			| Порядок оформления заказов онлайн через наш сайт. Свяжитесь с нами по 
			br
			| телефону, электронной почте или воспользуйтесь формой ниже.
		+e.inside-wrap
			+b.steps.swiper-container.js-to-swiper
				.swiper-wrapper
					+e.item.swiper-slide
						+e.icon
							+e.icon-inner
								+e.icon-center
									+e.OBJECT.icon-object(type='image/svg+xml', data='/app/objects/mail.svg')
						+e.name.h3 Заявка
						+e.text.p
							| Отправьте онлайн-заявку через сайт, 
							br
							| c вами свяжется менеджер.
					+e.item.swiper-slide
						+e.icon
							+e.icon-inner
								+e.icon-center
									+e.OBJECT.icon-object(type='image/svg+xml', data='/app/objects/credit-cards.svg')
						+e.name.h3 Счет
						+e.text.p
							| Оплатите стоимость заказа 
							br
							| безналичным расчетом по счету.
					+e.item.swiper-slide
						+e.icon
							+e.icon-inner
								+e.icon-center
									+e.OBJECT.icon-object(type='image/svg+xml', data='/app/objects/box.svg')
						+e.name.h3 Отгрузка
						+e.text.p
							| Самовывоз, до вашей компании, 
							| до транспортной компании.
				+e.nav
					+b.arrow-nav._left
						+icon('arrow2', '0 0 9 17')
					+b.pagination
					+b.arrow-nav._right
						+icon('arrow2', '0 0 9 17')
			+b.callbox.scheme__callbox.form.FORM(action="/app/mail/")
				+e.inside-wrap
					+e.title.h1 Свяжитесь с нами
					+e.row.flex._justify
						+e.cell._default
							+e.input.input__
								+e.item.INPUT(name="name" placeholder="Евгений")
							+e.input.input__
								+e.item.INPUT(name="phone" placeholder="+7 (___) ___ - __ - __")
							+e.input.input__
								+e.item.INPUT(name="email" placeholder="Ваш e-mail")
						+e.cell._default
							+e.textarea.textarea__
								+e.placeholder
									+icon('message', '0 0 28 28')
									| Введите текст
								+e.item.TEXTAREA(name="message")
						+e.cell._info.flex._vertical
							+e.polit.verysmall
								| Нажимая кнопку "Отправить", Вы принимаете условия 
								a(href="#") политики конфиденциальности 
								|  сайта.
						+e.cell._button
							+e.button.btn__.BUTTON
								+e.back.js-circles.SPAN
								+e.text.SPAN Отправить