+b.SECTION.search-result._page
	+e.wrap.wrap
		+b.FORM.search.is-default-form
			+e.BUTTON.button
				svg(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
					rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
					circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
			+e.INPUT.input(type="text" name="s" placeholder="Поиск по сайту")
			+e.close.js-search-reset
				+icon('close','0 0 30 30')
		+e.list._scroll
			+e.item
				+e.preview.A(href="single.html",title="Бинт марлевый медицинский стерильный 10х16 плотность 32 г/м2")
					img(src="/img/bint-sterilnyj-10na16sm.jpg",alt="Бинт марлевый медицинский стерильный 10х16 плотность 32 г/м2")
				+e.info
					+e.cat Продукты
					+e.top.flex_justify
						+e.title
							strong Бинт марлевый медицинский стерильный 10х16 плотность 32 г/м2
						+e.desc
							| Данный бинт используют как для взрослых, так и для иммобилизации костей и суставов у детей. Гипсовые бинты могут производиться вручную непосредственно при необходимости применения.
					+e.table.table__._white
						+e.container.TABLE
							thead
								tr
									td.min-tablet.catalog__td.catalog__td_art 
										+e.text.verysmall 
											| Артикул
									td.all.catalog__td.catalog__td_name 
										+e.text.verysmall 
											| Наименование
									td.min-tablet.catalog__td.catalog__td_size.no-sort
										+e.text.verysmall Размеры
									td.min-tablet.catalog__td.catalog__td_density.no-sort
										+e.text.verysmall Плотность
									td.min-tablet.catalog__td.catalog__td_veiw.no-sort
										+e.text.verysmall Вид упаковки
									td.min-tablet.catalog__td.catalog__td_packing.no-sort
										+e.text.verysmall Упаковка (шт.)
									td.min-tablet.catalog__td.catalog__td_man.no-sort
										+e.text.verysmall Производитель
									td.all.dont-hide.catalog__td.catalog__td_price 
										+e.text.verysmall 
											| Цена
							tbody
								tr
									td.parent 
										+e.text.verysmall УТ000000336
									td.name
										+e.link.verysmall.A(href="#") 
											| Бинт марлевый медицинский нестерильный
										+e.toggle.js-mobile-list Развернуть
									td
										+e.text.verysmall 3х4
									td
										+e.text.verysmall 28
									td
										+e.text.verysmall п/э пакет
									td
										+e.text.verysmall 1400
									td
										+e.text.verysmall Россия ПКФ "ВераМед"
									td
										+e.text.b.verysmall.nobr 1872,00 ₽
			+e.item
				+e.preview._news.A(href="post.html",title="Кто в Новосибирске получит субсидии на производство медицинских товаров?")
					img(src="/img/proizvodstvo-vaty_medium.jpg",alt="Кто в Новосибирске получит субсидии на производство медицинских товаров?")
					+e.number 2
				+e.info
					+e.cat Новости
					+e.top.flex_justify
						+e.title
							strong Кто в Новосибирске получит субсидии на производство медицинских товаров?
						+e.desc
							| Денежные средства, которые выделяют по программе «Развитие промышленности и повышение конкурентоспособности», будут перераспределяться в следующих направлениях:
					include meta
			+e.item
				+e.preview.A(href="single.html",title="Бинт марлевый медицинский стерильный 10х16 плотность 32 г/м2")
					img(src="/img/bint-sterilnyj-10na16sm.jpg",alt="Бинт марлевый медицинский стерильный 10х16 плотность 32 г/м2")
				+e.info
					+e.cat Продукты
					+e.top.flex_justify
						+e.title
							strong Бинт марлевый медицинский стерильный 10х16 плотность 32 г/м2
						+e.desc
							| Данный бинт используют как для взрослых, так и для иммобилизации костей и суставов у детей. Гипсовые бинты могут производиться вручную непосредственно при необходимости применения.
					+e.table.table__._white
						+e.container.TABLE
							thead
								tr
									td.min-tablet.catalog__td.catalog__td_art 
										+e.text.verysmall 
											| Артикул
									td.all.catalog__td.catalog__td_name 
										+e.text.verysmall 
											| Наименование
									td.min-tablet.catalog__td.catalog__td_size.no-sort
										+e.text.verysmall Размеры
									td.min-tablet.catalog__td.catalog__td_density.no-sort
										+e.text.verysmall Плотность
									td.min-tablet.catalog__td.catalog__td_veiw.no-sort
										+e.text.verysmall Вид упаковки
									td.min-tablet.catalog__td.catalog__td_packing.no-sort
										+e.text.verysmall Упаковка (шт.)
									td.min-tablet.catalog__td.catalog__td_man.no-sort
										+e.text.verysmall Производитель
									td.all.dont-hide.catalog__td.catalog__td_price 
										+e.text.verysmall 
											| Цена
							tbody
								tr
									td.parent 
										+e.text.verysmall УТ000000336
									td.name
										+e.link.verysmall.A(href="#") 
											| Бинт марлевый медицинский нестерильный
										+e.toggle.js-mobile-list Развернуть
									td
										+e.text.verysmall 3х4
									td
										+e.text.verysmall 28
									td
										+e.text.verysmall п/э пакет
									td
										+e.text.verysmall 1400
									td
										+e.text.verysmall Россия ПКФ "ВераМед"
									td
										+e.text.b.verysmall.nobr 1872,00 ₽
			+e.item
				+e.preview._news.A(href="post.html",title="Кто в Новосибирске получит субсидии на производство медицинских товаров?")
					img(src="/img/proizvodstvo-vaty_medium.jpg",alt="Кто в Новосибирске получит субсидии на производство медицинских товаров?")
					+e.number 2
				+e.info
					+e.cat Новости
					+e.top.flex_justify
						+e.title
							strong Кто в Новосибирске получит субсидии на производство медицинских товаров?
						+e.desc
							| Денежные средства, которые выделяют по программе «Развитие промышленности и повышение конкурентоспособности», будут перераспределяться в следующих направлениях:
					include meta