+b.SECTION.sertificate
	+e.wrap.wrap
		+e.H2.title.h2
			| Продукция соответствует ГОСТ и ТУ
		+e.desc
			| Каждая единица товара сопровождается регистрационным
			br
			| удостоверением, декларацией и сертификатом соответствия.
		+e.slider.swiper-container
			+e.list.swiper-wrapper
				+e.A.item.swiper-slide(href="app/img/serti1_min.jpg", title="Декларация соответствия бинт стерильный и нестерильный")
					+e.foto
						+e.IMG.foto-img(src="/img/serti1_min.jpg")
						+e.zoom
							+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
								rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
								circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
					+e.text
						| Декларация соответствия бинт стерильный и нестерильный
				+e.A.item.swiper-slide(href="app/img/serti2_min.jpg", title="Декларация о соответствии фиксирующий лейкопластырь")
					+e.foto
						+e.IMG.foto-img(src="/img/serti2_min.jpg")
						+e.zoom
							+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
								rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
								circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
					+e.text
						| Декларация о соответствии фиксирующий лейкопластырь
				+e.A.item.swiper-slide(href="app/img/serti3_min.jpg", title="Декларация о соответствии вата хирургическая Емельян Савостин")
					+e.foto
						+e.IMG.foto-img(src="/img/serti3_min.jpg")
						+e.zoom
							+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
								rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
								circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
					+e.text
						| Декларация о соответствии вата хирургическая Емельян Савостин
				+e.A.item.swiper-slide(href="app/img/serti4_min.jpg", title="Декларация о соответствии вата хирургическая русвата")
					+e.foto
						+e.IMG.foto-img(src="/img/serti4_min.jpg")
						+e.zoom
							+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
								rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
								circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
					+e.text
						| Декларация о соответствии вата хирургическая русвата
				+e.A.item.swiper-slide(href="app/img/serti5_min.jpg", title="Декларация о соответствии фиксирующий лейкопластырь")
					+e.foto
						+e.IMG.foto-img(src="/img/serti5_min.jpg")
						+e.zoom
							+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
								rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
								circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
					+e.text
						| Декларация о соответствии фиксирующий лейкопластырь
				+e.A.item.swiper-slide(href="app/img/serti6_min.jpg", title="Декларация о соответствии фиксирующий лейкопластырь")
					+e.foto
						+e.IMG.foto-img(src="/img/serti6_min.jpg")
						+e.zoom
							+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
								rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
								circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
					+e.text
						| Декларация о соответствии фиксирующий лейкопластырь
				+e.A.item.swiper-slide(href="app/img/serti7_min.jpg", title="Декларация о соответствии вата хирургическая Емельян Савостин")
					+e.foto
						+e.IMG.foto-img(src="/img/serti7_min.jpg")
						+e.zoom
							+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
								rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
								circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
					+e.text
						| Декларация о соответствии вата хирургическая Емельян Савостин
				+e.A.item.swiper-slide(href="app/img/serti8_min.jpg", title="Декларация о соответствии вата хирургическая русвата")
					+e.foto
						+e.IMG.foto-img(src="/img/serti8_min.jpg")
						+e.zoom
							+e.SVG(width='33', height='33', viewBox='0 0 33 33', fill='none', xmlns='http://www.w3.org/2000/svg')
								rect(x='17.5986', y='19.0654', width='2', height='11.4074', transform='rotate(-45 17.5986 19.0654)')
								circle(cx='13.1993', cy='13.1992', r='8.33333', transform='rotate(-45 13.1993 13.1992)')
					+e.text
						| Декларация о соответствии вата хирургическая русвата
		+e.nav
			+b.btn-nav._left
				+icon('arrow2', '0 0 9 17')
			+e.counter.counter
			+b.btn-nav._right
				+icon('arrow2', '0 0 9 17')