+e.form.form.FORM(action="/app/mail/")
	+e.box
		+e.box-title.h4.js-close-sidebar 
			| Каталог товаров
			+icon('delete', '0 0 13.941355 13.940246')
		+e.UL.tree
			li.cat-item.cat-item-296
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/aptechka') Аптечки
			li.cat-item.cat-item-319.current-cat
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bahily') Бахилы
			li.cat-item.cat-item-297.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint-medicinskiy') Бинты
				ul.children.mtree-level-1
					li.cat-item.cat-item-298
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/gipsovyy') Бинт гипсовый
					li.cat-item.cat-item-945
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint-medicinskiy/polimernyj') Бинт полимерный
					li.cat-item.cat-item-763
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/poliuretanovyi') Бинт полиуретановый
					li.cat-item.cat-item-947.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint-medicinskiy/samofiksirujuschijsja') Бинт самофиксирующийся
						ul.children.mtree-level-2
							li.cat-item.cat-item-948
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint-medicinskiy/samofiksirujuschijsja/kogezivnyj') Бинт когезивный
					li.cat-item.cat-item-301.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/elastichnyy') Бинт эластичный
						ul.children.mtree-level-2
							li.cat-item.cat-item-335
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/elastichnyy/trubchatyj') Бинт трубчатый
					li.cat-item.cat-item-300.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj') Бинты марлевые
						ul.children.mtree-level-2
							li.cat-item.cat-item-710.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/10h16') Бинты 10х16
								ul.children.mtree-level-3
									li.cat-item.cat-item-711
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/10h16-pl-28') Бинты 10х16 пл. 28
									li.cat-item.cat-item-712
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/10h16-pl-32') Бинты 10х16 пл. 32
									li.cat-item.cat-item-713
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/10h16-pl-36') Бинты 10х16 пл. 36
							li.cat-item.cat-item-696.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/5h10') Бинты 5х10
								ul.children.mtree-level-3
									li.cat-item.cat-item-688
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/5h10-pl-28') Бинты 5х10 пл. 28
									li.cat-item.cat-item-689
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/5h10-pl-32') Бинты 5х10 пл. 32
									li.cat-item.cat-item-691
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/5h10-pl-36') Бинты 5х10 пл. 36
									li.cat-item.cat-item-690
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/5h10-pl-36-2') Бинты 5х10 пл. 36±2
							li.cat-item.cat-item-698.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/5h5') Бинты 5х5
								ul.children.mtree-level-3
									li.cat-item.cat-item-699
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/5h5-pl-28') Бинты 5х5 пл. 28
									li.cat-item.cat-item-700
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/5h5-pl-32') Бинты 5х5 пл. 32
									li.cat-item.cat-item-701
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/5h5-pl-36') Бинты 5х5 пл. 36
							li.cat-item.cat-item-702.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/5h7') Бинты 5х7
								ul.children.mtree-level-3
									li.cat-item.cat-item-703
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/5h7-pl-28') Бинты 5х7 пл. 28
									li.cat-item.cat-item-704
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/5h7-pl-32') Бинты 5х7 пл. 32
									li.cat-item.cat-item-705
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/5h7-pl-36') Бинты 5х7 пл. 36
							li.cat-item.cat-item-706.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/7h10') Бинты 7х10
								ul.children.mtree-level-3
									li.cat-item.cat-item-707
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/7h10-pl-28') Бинты 7х10 пл. 28
									li.cat-item.cat-item-708
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/7h10-pl-32') Бинты 7х10 пл. 32
									li.cat-item.cat-item-709
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/7h10-pl-36') Бинты 7х10 пл. 36
							li.cat-item.cat-item-697.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/7h14') Бинты 7х14
								ul.children.mtree-level-3
									li.cat-item.cat-item-692
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/7h14-pl-28') Бинты 7х14 пл. 28
									li.cat-item.cat-item-693
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/7h14-pl-32') Бинты 7х14 пл. 32
									li.cat-item.cat-item-695
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/7h14-pl-36') Бинты 7х14 пл. 36
									li.cat-item.cat-item-694
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/bint/marlevyj/7h14-pl-36-2') Бинты 7х14 пл. 36±2
			li.cat-item.cat-item-302.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/vata') Вата медицинская
				ul.children.mtree-level-1
					li.cat-item.cat-item-303
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/vata/valiki-vatnye') Валики ватные
					li.cat-item.cat-item-304
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/vata/gigienicheskaya') Вата гигиеническая
					li.cat-item.cat-item-305
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/vata/glaznaya') Вата глазная
					li.cat-item.cat-item-307
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/vata/zig-zag') Вата Зиг-Заг
					li.cat-item.cat-item-306
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/vata/hirurgicheskaya') Вата хирургическая
					li.cat-item.cat-item-308
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/vata/vatnye-diski') Ватные диски
					li.cat-item.cat-item-309
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/vata/vatnye-palochki') Ватные палочки
					li.cat-item.cat-item-313
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/vata/palochka-tampon') Ватные палочки тампоны
					li.cat-item.cat-item-310
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/vata/vatnye-shariki') Ватные шарики
			li.cat-item.cat-item-344.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/geli-medicinskie') Гели медицинские
				ul.children.mtree-level-1
					li.cat-item.cat-item-357
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/geli-medicinskie/dlja-uzi') Гели для УЗИ
			li.cat-item.cat-item-963.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinfekcija-i-sterilizacija') Дезинфекция и стерилизация
				ul.children.mtree-level-1
					li.cat-item.cat-item-339.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva') Дезинфицирующие средства
						ul.children.mtree-level-2
							li.cat-item.cat-item-371
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/abakteril') Абактерил
							li.cat-item.cat-item-771.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/avansept') Авансепт
								ul.children.mtree-level-3
									li.cat-item.cat-item-773
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/avansept/salfetki') Авансепт салфетки
									li.cat-item.cat-item-772
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/avansept/sprej') Авансепт спрей
							li.cat-item.cat-item-774
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/azopiram-komplekt') Азопирам комплект
							li.cat-item.cat-item-372
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/alaminol') Аламинол
							li.cat-item.cat-item-373
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/almadez') Алмадез
							li.cat-item.cat-item-775
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/amiflain') Амифлайн
							li.cat-item.cat-item-769.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/antiseptiki') Антисептики медицинские
								ul.children.mtree-level-3
									li.cat-item.cat-item-909
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/antiseptiki/tefleks') Тефлекс кожный антисептик
							li.cat-item.cat-item-777
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/briliant-klassik') Бриллиант классик
							li.cat-item.cat-item-779
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/dezivaips-salfetki') Дезивайпс салфетки
							li.cat-item.cat-item-770
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/dezilait') Дезилайт
							li.cat-item.cat-item-780
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/deziptol') Дезиптол
							li.cat-item.cat-item-778
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/dezkliner') Дезклинер
							li.cat-item.cat-item-911
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/maniderm-krem') Манидерм
							li.cat-item.cat-item-781
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/mistral') Мистраль
							li.cat-item.cat-item-776
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/oka-dez') ОКА-ДЕЗ
							li.cat-item.cat-item-374
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/samarovka') Самаровка
							li.cat-item.cat-item-782.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/sekusept') Секусепт
								ul.children.mtree-level-3
									li.cat-item.cat-item-907
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/sekusept/aktiv-sekusept') Секусепт актив
							li.cat-item.cat-item-908
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/salfetki-septizol') Септизол салфетки
							li.cat-item.cat-item-910
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinficirujuschie-sredstva/everluks-63') Эверлюкс 63
					li.cat-item.cat-item-965
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinfekcija-i-sterilizacija/korobki-sterilizacionnye') Коробки стерилизационные
					li.cat-item.cat-item-964
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/dezinfekcija-i-sterilizacija/kraft-pakety') Крафт-пакеты
					li.cat-item.cat-item-361.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/indikatory-sterilizacii/himicheskie') Химические индикаторы
						ul.children.mtree-level-2
							li.cat-item.cat-item-366
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/indikatory-sterilizacii/parovoj') Индикаторы паровой стерилизации
							li.cat-item.cat-item-363
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/indikatory-sterilizacii/himicheskie/sterikont') Индикаторы Стериконт
							li.cat-item.cat-item-362
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/indikatory-sterilizacii/himicheskie/steritest') Индикаторы СтериТест
			li.cat-item.cat-item-311.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/kleenka') Клеенка
				ul.children.mtree-level-1
					li.cat-item.cat-item-926
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/kleenka/podkladnaja-rezinotkanevaja') Клеенка резинотканевая
					li.cat-item.cat-item-925
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/kleenka/podkladnaja-pvh') Клеенка с ПВХ покрытием
			li.cat-item.cat-item-957.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/lateksnye-medicinskie-izdelija') Латексные изделия
				ul.children.mtree-level-1
					li.cat-item.cat-item-958
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/napalchnik-medicinskij-lateksnyj') Напальчники латексные
					li.cat-item.cat-item-936
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/sredstva-individualnoj-zaschity/prezervativy-dlja-uzi') Презерватив для УЗИ
			li.cat-item.cat-item-312
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/marlya-medicinskaya') Марля
			li.cat-item.cat-item-337.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskaja-odezhda') Медицинская одежда
				ul.children.mtree-level-1
					li.cat-item.cat-item-370.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskaja-odezhda/beljo-odnorazovoe') Белье одноразовое
						ul.children.mtree-level-2
							li.cat-item.cat-item-943
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskaja-odezhda/beljo-odnorazovoe/trusy-dlja-kolonoskopii') Трусы для колоноскопии
					li.cat-item.cat-item-960
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskaja-odezhda/kostjumy-vracha') Костюмы врача
					li.cat-item.cat-item-320
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/maska-medicinskaya') Маски медицинские
					li.cat-item.cat-item-338
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskaja-odezhda/halaty') Медицинские халаты
					li.cat-item.cat-item-766.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskaja-odezhda/narukavniki') Нарукавники медицинские
						ul.children.mtree-level-2
							li.cat-item.cat-item-919
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskaja-odezhda/narukavniki/iz-polimerov-pvh-pnd') Нарукавники из полимерных материалов
					li.cat-item.cat-item-342
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskaja-odezhda/fartuk') Фартук медицинский
					li.cat-item.cat-item-341
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskaja-odezhda/shapochki') Шапочки медицинские
			li.cat-item.cat-item-334.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty') Медицинские инструменты
				ul.children.mtree-level-1
					li.cat-item.cat-item-983.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya') Акушерство и гинекология
						ul.children.mtree-level-2
							li.cat-item.cat-item-1518
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/zazhimy-ginekologicheskie') Зажимы гинекологические
							li.cat-item.cat-item-1519.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/zerkala-ginekologicheskie') Зеркала гинекологические
								ul.children.mtree-level-3
									li.cat-item.cat-item-1520
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/zerkala-ginekologicheskie/zerkalo-podjemnik') Зеркало подъемник
							li.cat-item.cat-item-1521
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/zond-matochnyj-ginekologicheskij') Зонд маточный
							li.cat-item.cat-item-1522
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/kuretki-ginekologicheskie') Кюретки
							li.cat-item.cat-item-1523
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/lozhki-ginekologicheskie') Ложки гинекологические
							li.cat-item.cat-item-1524
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/nakonechniki-ginekologicheskie') Наконечники гинекологические
							li.cat-item.cat-item-1525
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/nozhi-ginekologicheskie') Ножи гинекологические
							li.cat-item.cat-item-1526
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/nozhnicy-ginekologicheskie') Ножницы гинекологические
							li.cat-item.cat-item-1527
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/pincety-ginekologicheskie') Пинцеты гинекологические
							li.cat-item.cat-item-1528
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/rasshiriteli-kanala-shejki-matki') Расширители канала шейки матки
							li.cat-item.cat-item-1529
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/tazomery-akusherskie') Тазомеры акушерские
							li.cat-item.cat-item-1530
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/shpateli-ginekologicheskie') Шпатели гинекологические
							li.cat-item.cat-item-1531
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/schipcy-akusherskie') Щипцы акушерские
							li.cat-item.cat-item-1532
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/akusherstvo-i-ginekologiya/ekstraktory-ginekologicheskie') Экстракторы гинекологические
					li.cat-item.cat-item-984.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/anatomiya') Анатомия
						ul.children.mtree-level-2
							li.cat-item.cat-item-2051
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/anatomiya/pintsety-anatomicheskie') Пинцет анатомический
					li.cat-item.cat-item-2112.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty') Ветеринарные инструменты
						ul.children.mtree-level-2
							li.cat-item.cat-item-2116
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/vaktsinatory') Вакцинаторы ветеринарные
							li.cat-item.cat-item-2113
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/igly') Иглы ветеринарные
							li.cat-item.cat-item-2117
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/inektory-i-ustrojstva') Инъекторы и устройства
							li.cat-item.cat-item-2114
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/katetery-veterinarnye') Катетеры ветеринарные
							li.cat-item.cat-item-2118.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/nabory') Наборы ветеринарные
								ul.children.mtree-level-3
									li.cat-item.cat-item-2121
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/nabory/akusherskie') Акушерские
									li.cat-item.cat-item-2120
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/nabory/anatomicheskie') Анатомические
									li.cat-item.cat-item-2119
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/nabory/hirurgicheskie') Хирургические
							li.cat-item.cat-item-2122.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/hirurgichesko-anatomicheskie') Хирургическо-анатомические
								ul.children.mtree-level-3
									li.cat-item.cat-item-2124
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/hirurgichesko-anatomicheskie/zazhimy') Ветеринарные зажимы
									li.cat-item.cat-item-2125
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/hirurgichesko-anatomicheskie/igloderzhateli') Ветеринарные иглодержатели
									li.cat-item.cat-item-2126
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/hirurgichesko-anatomicheskie/korntsangi') Ветеринарные корнцанги
									li.cat-item.cat-item-2128
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/hirurgichesko-anatomicheskie/nozhi') Ветеринарные ножи
									li.cat-item.cat-item-2129
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/hirurgichesko-anatomicheskie/nozhnitsy') Ветеринарные ножницы
									li.cat-item.cat-item-2123
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/hirurgichesko-anatomicheskie/pintsety') Ветеринарные пинцеты
									li.cat-item.cat-item-2127
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/hirurgichesko-anatomicheskie/skalpeli') Ветеринарные скальпели
							li.cat-item.cat-item-2115
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/veterinarnye-instrumenty/shpritsy') Шприцы ветеринарные
					li.cat-item.cat-item-1045
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/gastroenterologija') Гастроэнтерология
					li.cat-item.cat-item-986
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/diagnostika') Диагностика
					li.cat-item.cat-item-966
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/zhguty') Жгуты
					li.cat-item.cat-item-967
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/zerkalo-rektalnoe') Зеркало ректальное
					li.cat-item.cat-item-912.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/zondy') Зонд медицинский
						ul.children.mtree-level-2
							li.cat-item.cat-item-913
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/zondy/jeludochnye') Зонд желудочный
							li.cat-item.cat-item-922
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/zondy/obturator') Зонд обтуратор
							li.cat-item.cat-item-920
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/zondy/pitatelnyj') Зонд питательный
							li.cat-item.cat-item-921
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/zondy/urogenitalnyj') Зонд урогенитальный
					li.cat-item.cat-item-369.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/igly') Иглы медицинские
						ul.children.mtree-level-2
							li.cat-item.cat-item-941
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/igly/dentalnye-karpulnye') Иглы дентальные
							li.cat-item.cat-item-384
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/igly/inekcionnye') Иглы инъекционные
							li.cat-item.cat-item-764
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/igly/hirurgicheskie') Иглы хирургические
					li.cat-item.cat-item-982
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/k-endoskopam') Инструменты к эндоскопам
					li.cat-item.cat-item-336.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/katetery') Катетеры
						ul.children.mtree-level-2
							li.cat-item.cat-item-378
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/katetery/aspiracionnyj') Катетер аспирационный
							li.cat-item.cat-item-918
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/katetery/vnutrivennye') Катетер внутривенный
							li.cat-item.cat-item-343.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/katetery/foleja') Катетер Фолея
								ul.children.mtree-level-3
									li.cat-item.cat-item-375
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/katetery/foleja/2-h-hodovoj') Катетер Фолея 2-х ходовой
							li.cat-item.cat-item-377
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/katetery/nelatona') Катетеры Нелатона
							li.cat-item.cat-item-376.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/katetery/urologicheskie') Катетеры урологические
								ul.children.mtree-level-3
									li.cat-item.cat-item-379
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/katetery/peccera') Катетеры Пеццера
					li.cat-item.cat-item-985
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/kosmetologiya') Косметология
					li.cat-item.cat-item-940
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/klizmy/kruzhki-esmarha') Кружки Эсмарха
					li.cat-item.cat-item-956.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/nabory') Наборы медицинские
						ul.children.mtree-level-2
							li.cat-item.cat-item-765
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/nabory-dlya-kateterizacii') Наборы для катетеризации
							li.cat-item.cat-item-969
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/nabory/dlya-epiduralnoj-anestezii') Наборы для эпидуральной анестезии
							li.cat-item.cat-item-2100
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/nabory-medicinskie/nabory-hirurgicheskih-instrumentov') Наборы хирургических инструментов
					li.cat-item.cat-item-979
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/nejrohirurgiya') Нейрохирургия
					li.cat-item.cat-item-975.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/otorinolaringologiya') Оториноларингология
						ul.children.mtree-level-2
							li.cat-item.cat-item-2053
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/otorinolaringologiya/adenotomy') Аденотом
							li.cat-item.cat-item-2054
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/otorinolaringologiya/voronki-ushnye') Воронка ушная
							li.cat-item.cat-item-2064
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/otorinolaringologiya/vykusyvateli') Выкусыватель
							li.cat-item.cat-item-2055
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/otorinolaringologiya/zerkala-gortannye') Зеркало гортанное
							li.cat-item.cat-item-2056
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/otorinolaringologiya/zerkala-nosovye') Зеркало носовое
							li.cat-item.cat-item-2058
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/otorinolaringologiya/zondy-ushnye') Зонд ушной
							li.cat-item.cat-item-2059
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/otorinolaringologiya/kanyuli-dlya-promyvaniya-attika') Канюля для промывания аттика
							li.cat-item.cat-item-2060
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/otorinolaringologiya/katetery-ushnye') Катетер ушной
							li.cat-item.cat-item-2061
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/otorinolaringologiya/nozhi-paratsentoznye') Нож парацентозный
					li.cat-item.cat-item-978
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/oftalmologiya') Офтальмология
					li.cat-item.cat-item-959
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/pincety') Пинцеты
					li.cat-item.cat-item-1046
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/reanimacija') Реанимация
					li.cat-item.cat-item-368.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/skalpeli') Скальпели
						ul.children.mtree-level-2
							li.cat-item.cat-item-928
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/skalpeli/ruchki') Ручка для скальпеля
					li.cat-item.cat-item-367.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/skarifikator') Скарификаторы
						ul.children.mtree-level-2
							li.cat-item.cat-item-929
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/skarifikator/bokovoe-kopje') С боковым копьем
							li.cat-item.cat-item-930
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/skarifikator/centralnoe-kopje') С центральным копьем
					li.cat-item.cat-item-987
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/stakany') Стаканы медицинские
					li.cat-item.cat-item-980
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/stomatologiya') Стоматология
					li.cat-item.cat-item-981
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/travmatologiya') Травматология
					li.cat-item.cat-item-931.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/trubki-traheostomicheskie') Трубка трахеостомическая
						ul.children.mtree-level-2
							li.cat-item.cat-item-932
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/trubki-traheostomicheskie/bez-manzhety') Без манжеты
							li.cat-item.cat-item-933
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/trubki-traheostomicheskie/s-manzhetoj') С манжетой
					li.cat-item.cat-item-934.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/trubki-endotrahealnye') Трубка эндотрахеальная
						ul.children.mtree-level-2
							li.cat-item.cat-item-935
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/trubki-endotrahealnye/s-manzhetoj') Трубка эндотрахеальная с манжетой
					li.cat-item.cat-item-977
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/urologiya') Урология
					li.cat-item.cat-item-976.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya') Хирургия
						ul.children.mtree-level-2
							li.cat-item.cat-item-2063
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/venoekstraktory') Веноэкстрактор
							li.cat-item.cat-item-2065
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/derzhateli-meditsinskie') Держатель медицинский
							li.cat-item.cat-item-2066
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/dissektory') Диссектор
							li.cat-item.cat-item-2067
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/dolota-hirurgicheskie') Долото хирургическое
							li.cat-item.cat-item-2068.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zazhimy-hirurgicheskie') Зажим хирургический
								ul.children.mtree-level-3
									li.cat-item.cat-item-2076
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zazhimy-hirurgicheskie/zazhimy-kishechnye') Зажим кишечный
									li.cat-item.cat-item-2069
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zazhimy-hirurgicheskie/zazhimy-krovoostanavlivayushchie') Зажим кровоостанавливающий
									li.cat-item.cat-item-2073
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zazhimy-hirurgicheskie/zazhimy-krovoostanavlivayushchie-moskity') Зажим кровоостанавливающий "Москит"
									li.cat-item.cat-item-2072
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zazhimy-hirurgicheskie/zazhimy-krovoostanavlivayushchie-zubchatye') Зажим кровоостанавливающий зубчатый
									li.cat-item.cat-item-2071
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zazhimy-hirurgicheskie/zazhimy-krovoostanavlivayushchie-izognutye') Зажим кровоостанавливающий изогнутый
									li.cat-item.cat-item-2070
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zazhimy-hirurgicheskie/zazhimy-krovoostanavlivayushchie-pryamye') Зажим кровоостанавливающий прямой
									li.cat-item.cat-item-2075
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zazhimy-hirurgicheskie/zazhimy-soedinitelnye') Зажим соединительный
									li.cat-item.cat-item-2074
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zazhimy-hirurgicheskie/zazhimy-fiksiruyushchie') Зажим фиксирующий
									li.cat-item.cat-item-2077
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zazhimy-hirurgicheskie/zazhimy-dlya-sosudov') Зажимы для сосудов
							li.cat-item.cat-item-2078.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zerkala-hirurgicheskie') Зеркала хирургические
								ul.children.mtree-level-3
									li.cat-item.cat-item-2079
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zerkala-hirurgicheskie/zerkala-pechenochnye') Зеркало печеночное
									li.cat-item.cat-item-2080
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zerkala-hirurgicheskie/zerkala-rektalnye') Зеркало ректальное
									li.cat-item.cat-item-2081
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zerkala-hirurgicheskie/zerkala-rektalnye-dvustvorchatye') Зеркало ректальное двустворчатое
									li.cat-item.cat-item-2082
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zerkala-hirurgicheskie/rektalnye-zerkala-detskie') Ректальное зеркало детское
							li.cat-item.cat-item-2057
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zondy-s-navivkoj') Зонд с навивкой
							li.cat-item.cat-item-2083.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zondy-hirurgicheskie') Зонд хирургический
								ul.children.mtree-level-3
									li.cat-item.cat-item-2085
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zondy-hirurgicheskie/zondy-pugovchatye-hirurgicheskie') Зонд пуговчатый хирургический
									li.cat-item.cat-item-2084
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/zondy-hirurgicheskie/zondy-hirurgicheskie-zhelobovatye') Зонд хирургический желобоватый
							li.cat-item.cat-item-2086
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/igloderzhateli-hirurgicheskie') Иглодержатель хирургический
							li.cat-item.cat-item-2087.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/korntsangi-hirurgichekie') Корнцанги хирургичекие
								ul.children.mtree-level-3
									li.cat-item.cat-item-2089
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/korntsangi-hirurgichekie/korntsangi-izognutye') Корнцанги изогнутые
									li.cat-item.cat-item-2088
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/korntsangi-hirurgichekie/korntsangi-pryamye') Корнцанги прямые
							li.cat-item.cat-item-2090.cat-parent.mtree-node.mtree-closed
								div.cat-top
									a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/kryuchki-hirurgicheskie') Крючки хирургические
								ul.children.mtree-level-3
									li.cat-item.cat-item-2091
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/kryuchki-hirurgicheskie/kryuchki-hirurgicheskie-zubchatye') Крючки хирургические зубчатые
									li.cat-item.cat-item-2094
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/kryuchki-hirurgicheskie/kryuchki-hirurgicheskie-ostrye') Крючки хирургические острые
									li.cat-item.cat-item-2092
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/kryuchki-hirurgicheskie/kryuchki-hirurgicheskie-trehzubye') Крючки хирургические трехзубые
									li.cat-item.cat-item-2095
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/kryuchki-hirurgicheskie/kryuchki-hirurgicheskie-tupye') Крючки хирургические тупые
									li.cat-item.cat-item-2093
										a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/kryuchki-hirurgicheskie/kryuchki-hirurgicheskie-chetyrehzubye') Крючки хирургические четырехзубые
							li.cat-item.cat-item-2096
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/kusachki-hirurgicheskie') Кусачки хирургические
							li.cat-item.cat-item-2097
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/kyuretki-hirurgicheskie') Кюретки хирургические
							li.cat-item.cat-item-2098
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/lozhki-hirurgicheskie') Ложки хирургические
							li.cat-item.cat-item-2099
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/molotki-hirurgicheskie') Молотки хирургические
							li.cat-item.cat-item-2102
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/nozhi-amputatsionnye') Ножи ампутационные
							li.cat-item.cat-item-2101
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/nozhi-hirurgicheskie') Ножи хирургические
							li.cat-item.cat-item-2103
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/nozhnitsy-hirurgicheskie') Ножницы хирургические
							li.cat-item.cat-item-2052
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/hirurgiya/ugrevydavlivateli') Угревыдавливатель
					li.cat-item.cat-item-324.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpatel') Шпатель медицинский
						ul.children.mtree-level-2
							li.cat-item.cat-item-358
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpatel/derevjannye') Шпатели деревянные
			li.cat-item.cat-item-950.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-pribory') Медицинские приборы
				ul.children.mtree-level-1
					li.cat-item.cat-item-938
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-pribory/gigrometry-psihrometricheskie') Гигрометры психрометрические
					li.cat-item.cat-item-914.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/termometry-medicinskie') Термометры
						ul.children.mtree-level-2
							li.cat-item.cat-item-924
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/termometry-medicinskie/elektronnye-termometry') Термометр электронный
							li.cat-item.cat-item-955
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-instrumenty/termometry-medicinskie/rtutnye') Термометры ртутные
					li.cat-item.cat-item-953.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-pribory/tonometry-medicinskie') Тонометры
						ul.children.mtree-level-2
							li.cat-item.cat-item-952
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-pribory/tonometry-medicinskie/mehanicheskie') Тонометры механические
					li.cat-item.cat-item-951
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskie-pribory/filtry-vozdushnye-fvs') Фильтр сменный воздушный
			li.cat-item.cat-item-340.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/konteinery') Медицинский контейнер
				ul.children.mtree-level-1
					li.cat-item.cat-item-2062
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/konteinery/baki-dlya-sbora-othodov') Баки для сбора отходов
					li.cat-item.cat-item-954
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/konteinery/emkost-dlja-hranenija-termometrov') Емкость для хранения термометров
					li.cat-item.cat-item-927
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/konteinery/dlja-igl') Контейнер для игл
					li.cat-item.cat-item-360
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/konteinery/dlja-sbora-mochi') Контейнер для сбора мочи
					li.cat-item.cat-item-364
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/konteinery/dlja-biomateriala') Контейнеры для биоматериалов
					li.cat-item.cat-item-939
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/konteinery/kds') Контейнеры КДС
					li.cat-item.cat-item-365
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/konteinery/lotki') Лотки медицинские
					li.cat-item.cat-item-383
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/konteinery/pakety-dlja-utilizacii') Пакеты для утилизации
					li.cat-item.cat-item-359
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/konteinery/sudno-ladja') Судно Ладья
			li.cat-item.cat-item-381.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/perevjazochnye-materialy') Перевязочные материалы
				ul.children.mtree-level-1
					li.cat-item.cat-item-946
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/perevjazochnye-materialy/gips-plastikovye') Гипс пластиковый
					li.cat-item.cat-item-382
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/perevjazochnye-materialy/paket-perevjazochnyi') Пакет перевязочный
					li.cat-item.cat-item-944
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/perevjazochnye-materialy/podshinovyj-chulok') Подшиновые чулки
					li.cat-item.cat-item-962
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/perevjazochnye-materialy/ranevye-povjazki') Раневые повязки
			li.cat-item.cat-item-321.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/perchatki') Перчатки медицинские
				ul.children.mtree-level-1
					li.cat-item.cat-item-350
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/perchatki/latekshye') Перчатки латексные
					li.cat-item.cat-item-353
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/perchatki/nesterilnye') Перчатки нестерильные
					li.cat-item.cat-item-349
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/perchatki/nitrilovye') Перчатки нитриловые
					li.cat-item.cat-item-351
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/perchatki/odnorazovye') Перчатки одноразовые
					li.cat-item.cat-item-345
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/perchatki/polietilenovye') Перчатки полиэтиленовые
					li.cat-item.cat-item-356
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/perchatki/rezinovye') Перчатки резиновые
					li.cat-item.cat-item-352
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/perchatki/sterilnye') Перчатки стерильные
					li.cat-item.cat-item-326
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/smotrovye-perchatki') Смотровые перчатки
					li.cat-item.cat-item-327
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/hirurgicheskie-perchatki') Хирургические перчатки
			li.cat-item.cat-item-322.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/leykoplastyr') Пластырь и лейкопластырь
				ul.children.mtree-level-1
					li.cat-item.cat-item-299
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/leykoplastyr/bint-lipkiy') Бинт липкий
					li.cat-item.cat-item-1587
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/leykoplastyr/nabory-lejkoplastyrej') Наборы лейкопластырей
					li.cat-item.cat-item-1065
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/leykoplastyr/baktericydnyj') Пластыри бактерицидные
					li.cat-item.cat-item-1223
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/leykoplastyr/mozolnyj') Пластыри мозольные
					li.cat-item.cat-item-1589
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/leykoplastyr/plastyri-netkanye') Пластыри нетканые
					li.cat-item.cat-item-1591
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/leykoplastyr/plastyri-polimernye') Пластыри полимерные
					li.cat-item.cat-item-1590
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/leykoplastyr/plastyri-tkanevye') Пластыри тканевые
					li.cat-item.cat-item-1592
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/leykoplastyr/plastyri-shelkovye') Пластыри шелковые
					li.cat-item.cat-item-1588
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/leykoplastyr/plastyri-povjazki') Пластыри-повязки
					li.cat-item.cat-item-942
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/leykoplastyr/dlja-fiksacii-kateterov') Пластырь для фиксации катетеров
					li.cat-item.cat-item-354
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/leykoplastyr/percovyj') Пластырь перцовый
			li.cat-item.cat-item-767.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/predmety-uhoda-za-bolnymi') Предметы ухода за больными
				ul.children.mtree-level-1
					li.cat-item.cat-item-768
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/predmety-uhoda-za-bolnymi/vlajnaya-tualetnaya-bumaga') Бумага туалетная влажная
					li.cat-item.cat-item-949
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/predmety-uhoda-za-bolnymi/mochepriemniki') Мочеприемники
					li.cat-item.cat-item-325
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/podguzniki-dlya-vzroslyh') Подгузники
					li.cat-item.cat-item-937
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/sredstva-individualnoj-zaschity/pokryvalo-spasatelnoe-izotermicheskoe') Покрывало спасательное
					li.cat-item.cat-item-968
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/predmety-uhoda-za-bolnymi/bumazhnye-polotenca') Полотенца бумажные
					li.cat-item.cat-item-380.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/medicinskaja-odezhda/beljo-odnorazovoe/prostyni') Простыни медицинские
						ul.children.mtree-level-2
							li.cat-item.cat-item-887
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/predmety-uhoda-za-bolnymi/prostyni/netkanye-medicinskie') Простыни нетканые
					li.cat-item.cat-item-923
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/predmety-uhoda-za-bolnymi/sredstva-gigieny') Средства гигиены
			li.cat-item.cat-item-314.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/salfetki-medicinskie') Салфетки медицинские
				ul.children.mtree-level-1
					li.cat-item.cat-item-355
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/salfetki/vlazhnye-detskie') Салфетки влажные детские
					li.cat-item.cat-item-315
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/salfetki-marlevye') Салфетки марлевые
					li.cat-item.cat-item-346
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/salfetki/spirtovye') Салфетки спиртовые
			li.cat-item.cat-item-323.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/sistemy-perelivaniya') Системы переливания
				ul.children.mtree-level-1
					li.cat-item.cat-item-961
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/sistemy-perelivaniya/podushki-dlja-zabora-krovi') Подушки для забора крови
					li.cat-item.cat-item-347
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/sistemy-perelivaniya/infuzionnye') Системы инфузионные
					li.cat-item.cat-item-348
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/sistemy-perelivaniya/transfuzionnye') Системы трансфузионные
			li.cat-item.cat-item-316.cat-parent.mtree-node.mtree-closed
				div.cat-top
					a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy') Шприцы медицинские
				ul.children.mtree-level-1
					li.cat-item.cat-item-974
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/sterin-medical-group') Шприцы "Стерин"
					li.cat-item.cat-item-1050
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/1-ml') Шприцы 1 мл
					li.cat-item.cat-item-1054
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/10-ml') Шприцы 10 мл
					li.cat-item.cat-item-1057
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/100-ml') Шприцы 100 мл
					li.cat-item.cat-item-1058
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/150-ml') Шприцы 150 мл
					li.cat-item.cat-item-1051
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/2-ml') Шприцы 2 мл
					li.cat-item.cat-item-317
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/2-komponentnye') Шприцы 2-х компонентные
					li.cat-item.cat-item-1055
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/20-ml') Шприцы 20 мл
					li.cat-item.cat-item-1052
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/3-ml') Шприцы 3 мл
					li.cat-item.cat-item-318.cat-parent.mtree-node.mtree-closed
						div.cat-top
							a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy-3-h-komponentnye') Шприцы 3-х компонентные
						ul.children.mtree-level-2
							li.cat-item.cat-item-328
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy-china') Шприцы - Китай
							li.cat-item.cat-item-329
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy-sfmedical') Шприцы SF-Medical (Германия)
							li.cat-item.cat-item-330
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy-vogt-medical') Шприцы Vogt Medical (Германия)
							li.cat-item.cat-item-331
								a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy-stk-grypp') Шприцы Группа СТК (Россия)
					li.cat-item.cat-item-1053
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/5-ml') Шприцы 5 мл
					li.cat-item.cat-item-1056
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/50-ml') Шприцы 50 мл
					li.cat-item.cat-item-1060
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/dlja-promavanij') Шприцы для промывания
					li.cat-item.cat-item-1224
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/zhane') Шприцы Жане
					li.cat-item.cat-item-1225
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/insulinovye') Шприцы инсулиновые
					li.cat-item.cat-item-1049
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/injekcionnye') Шприцы инъекционные
					li.cat-item.cat-item-1226
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/karpulnye') Шприцы карпульные
					li.cat-item.cat-item-1048
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/mnogorazovye') Шприцы многоразовые
					li.cat-item.cat-item-1047
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/odnorazovye') Шприцы одноразовые
					li.cat-item.cat-item-1059
						a(href='https://xn----7sbfkcc2c3a.xn--p1ai/shpricy/s-dopolnitelnym-objomom') Шприцы с дополнительным объемом
+e.info.js-move-item(data-to="#mobile-sidebar" data-from="#sidebar")
	+e.box._mobile._news
		+b.news-item
			+e.preview
				+e.preview-inner
					+e.IMG.preview-img.object-fit(src="/img/news-item.png")
			+e.date 29.08.2017
			+e.text.small
				| Кто в Новосибирске получит субсидии на производство медицинских товаров
			+e.link.small.link__.A(href="#")
				| Читать новость
				+e.arrow
					+icon('arrow', '0 0 19 8')
	+e.box._mobile._contact
		+e.box-title.h4
			| Свяжитесь с нами
		+b.contacts._dark
			+e.list
				+e.string
					+e.phone.A(href="tel:+74953696639") +7 (495) 369-66-39
				+e.string
					+e.phone.A(href="tel:+74959718939") +7 (495) 971-89-39
				+e.string
					+e.link.small.A(href="mailto:info@вера-мед.рф") info@вера-мед.рф
			+e.line
			+e.row.flex._justify
				+e.cell._left.verysmall
					| Московская область
					br
					| Павлово Посадский район
					br
					span.is-dark с. Рахманово, д. 172
				+e.cell._right
					+b.index
						+e.text.verysmall Индекс
						+e.box.verysmall 142520
	+e.box._mobile._manager
		+e.box-title.h4
			| Вам ответят
		+b.manager
			+e.avatar
				+e.avatar-inner
					+e.IMG.avatar-image.object-fit(src="/img/avatar.jpg")
			+e.name.middle Курило Елена Игоревна
			+e.text.verysmall Начальник отдела продаж
			+e.phone.middle.A(href="tel:+74953696639") +7 (495) 369-66-39
			+e.text.verysmall ДОБ. 1003
			+e.button.border-button__.BUTTON
				+e.back.js-circles.SPAN
				+e.text.SPAN Напишите мне