+b.SECTION.catalog
	+e.wrap.wrap
		+b.breadcrumbs.flex._vertical.UL
			+e.item.LI
				+e.link.A(href="#")
					+e.home
						+icon('home', '0 0 18 18')
			+e.item.LI
				+e.link.A(href="#") Каталог
			+e.item.LI
				+e.link.A(href="#") Бинты
			+e.item.LI
				+e.link._current.A(href="#") Бинт марлевый медицинский нестерильный 5х5
		+e.mb.flex._vertical._center.js-open-sidebar
			+e.mb-box
				+e.mb-square
				+e.mb-square
				+e.mb-square
				+e.mb-square
			+e.mb-label.verysmall Показать каталог
		+e.container
			+e.cell._left#sidebar
				include sidebar
			+e.cell._right
				+e.part._single
					+e.content._nomargin.content
						+e.title.h3
							| Бинт марлевый медицинский нестерильный 5х5 
					+b.single
						+e.top
							+e.info.p
								b.b Артикул:
								| УТ000000336
							+e.info.p.flex._vertical
								b.b Категории:
								+e.info-link.blue-link.A(href="#") Бинты
								+e.info-link.blue-link.A(href="#") Бинты марлевые
								+e.info-link.blue-link.A(href="#") Бинты 5х5
								+e.info-link.blue-link.A(href="#") Бинты 5х5 пл. 28
								+e.info-link.blue-link.A(href="#") Перевязочные материалы
							+e.info.p.flex._vertical
								b.b Метки:
								+e.info-mark.mark__._active.A(href="#") Бинт хирургический
								+e.info-mark.mark__.A(href="#") Бинты плотность 32
								+e.info-mark.mark__.A(href="#") Бинты производство Россия
								+e.info-mark.mark__.A(href="#") Бинты ширина 10
							+e.mobile#mobile-text
						+e.row.flex
							+e.cell._left
								+e.preview
									+e.IMG(src="/img/case_1.jpg")
							+e.cell._right#single-info
								+e.list.list__.UL
									+e.item.p.LI Минимальный заказ — 10 тыс. руб.
									+e.item.p.LI Преференции для клиентов
									+e.item.p.LI Продукция в наличии
								+e.price.h3 3,20 ₽
								+e.order.btn__.A(href='#')
									+e.back.js-circles.SPAN
									+e.icon._basket.SPAN
										+icon('basket', '0 0 22 20')
									+e.text.SPAN Заказать
								+e.text.verysmall.js-move-item(data-from="#single-info" data-to="#mobile-text" data-point="580")
									| Стоимость ориентировочная, зависит 
									| от курса рубля, объема партии. 
									| Актуальные данные можно уточнить 
									| у менеджеров.
						+e.bottom
							+e.title._tosmall.h3 Документация
							+e.string.flex._vertical
								+e.link.icon-link__.A(href='#')
									+e.SPAN.icon(style="width: 2rem")
										+icon('doc', '0 0 22 26')
									+e.SPAN.text.middle Декларация
								+e.link.icon-link__.A(href='#')
									+e.SPAN.icon(style="width: 2.5rem")
										+icon('license', '0 0 26 28')
									+e.SPAN.text.middle Регистрационное удостоверение
							+e.dt.dt__.TABLE
								tr
									td
										+e.text.p17.b.is-dark Размеры
									td
										+e.text.p17.is-dark 5х5
								tr
									td
										+e.text.p17.b.is-dark Стерилизация
									td
										+e.text.p17.is-dark Нестерильный
								tr
									td
										+e.text.p17.b.is-dark Упаковка шт.
									td
										+e.text.p17.is-dark 1400
								tr
									td
										+e.text.p17.b.is-dark Производитель
									td
										+e.text.p17.is-dark Россия ПКФ "ВераМед"
								tr
									td
										+e.text.p17.b.is-dark Плотность
									td
										+e.text.p17.is-dark 28
								tr
									td
										+e.text.p17.b.is-dark Вид упаковки
									td
										+e.text.p17.is-dark п/э пакет
						+e.line.line
				+e.part
					include pricelist
				+e.part._small
					include tabs
				+e.part._big
					+e.part-title._44.middle.b.is-dark
						| Популярные
					+e.subcats.flex._start._justify.UL
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Марля в рулонах 1000 м пл. 36
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Марля в рулонах 1000 м пл. 36
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Марля в рулонах 1000 м пл. 36
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Cалфетки стерильные 16х14
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Cалфетки стерильные 16х14
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Cалфетки стерильные 16х14
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Бинт нестерильный 7х14
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Бинт нестерильный 7х14
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Бинт нестерильный 7х14
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Жавель Солид №320
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Жавель Солид №320
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Жавель Солид №320
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Зеркало носовое 30 мм
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Зеркало носовое 30 мм
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Зеркало носовое 30 мм
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Отрез марлевый 10 м
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Отрез марлевый 10 м
								+e.arrow
									+icon('arrow', '0 0 19 8')
						+e.subcats-item._big
							+e.subcats-link.p.link__.A(href="#")
								| Отрез марлевый 10 м
								+e.arrow
									+icon('arrow', '0 0 19 8')
				+e.part._steps
					+e.part-title._tocenter.h3
						| Как купить медицинский бинт
					include steps
				+e.part._big
					include callbox
				+e.part.mobile#mobile-sidebar