+b.steps.swiper-container.js-to-swiper
	.swiper-wrapper
		+e.item.swiper-slide
			+e.icon
				+e.icon-inner
					+e.icon-center
						+e.OBJECT.icon-object(type='image/svg+xml', data='/app/objects/mail.svg')
			+e.name.h3 Заявка
			+e.text.p
				| Отправьте онлайн-заявку через сайт, c вами свяжется менеджер.
		+e.item.swiper-slide
			+e.icon
				+e.icon-inner
					+e.icon-center
						+e.OBJECT.icon-object(type='image/svg+xml', data='/app/objects/credit-cards.svg')
			+e.name.h3 Счет
			+e.text.p
				| Оплатите стоимость заказа безналичным расчетом по счету.
		+e.item.swiper-slide
			+e.icon
				+e.icon-inner
					+e.icon-center
						+e.OBJECT.icon-object(type='image/svg+xml', data='/app/objects/box.svg')
			+e.name.h3 Отгрузка
			+e.text.p
				| Самовывоз, до вашей компании, 
				| до транспортной компании.
	+e.nav
		+b.arrow-nav._left
			+icon('arrow2', '0 0 9 17')
		+b.pagination
		+b.arrow-nav._right
			+icon('arrow2', '0 0 9 17')