+e.tabs.tabs__
	+e.top.flex._vertical
		+e.list.swiper-container
			+e.inner.swiper-wrapper
				.swiper-slide
					+e.list-item.p.A(href='#test-3') Марлевый
				.swiper-slide
					+e.list-item.p.A(href='#test-2') Гипсовый
				.swiper-slide
					+e.list-item.p.A(href='#test') Эластичный
				.swiper-slide
					+e.list-item.p.A(href='#test-1') Липкий
				.swiper-slide
					+e.list-item.p.A(href='#test-4') Трубчатый
				.swiper-slide
					+e.list-item.p.A(href='#test-5') ХБ
				.swiper-slide
					+e.list-item.p.A(href='#test-6') 7
		+e.nav.flex._vertical._justify
			+e.nav-button._prev.swiper-button-prev
				+icon('arrow2', '0 0 9 17')
			+e.nav-button._next.swiper-button-next
				+icon('arrow2', '0 0 9 17')
	+e.content.swiper-container
		.swiper-wrapper
			.swiper-slide#test-3
				+e.content-item.flex._justify
					+e.content-cell._left
						+e.title.h1 Бинты марлевые
					+e.content-cell._right.content
						p
							| Марлевый бинт стерильный или нестерильный – марля простого плетения, которая нарезана на полосы с ровной кромкой по краям, скатанная в плотный тугой рулон. 
							br
							br
							| Стерилизация выполняется с помощью ионизирующего излучения. Обычно используется в хирургии, хорошо впитывает жидкости, плотно прилегает к коже. Этот вид допускается стирать и отбеливать.
			.swiper-slide#test-2
				+e.content-item.flex._justify
					+e.content-cell._left
						+e.title.h1 Бинты марлевые 1
					+e.content-cell._right.content
						p
							| Марлевый бинт стерильный или нестерильный – марля простого плетения, которая нарезана на полосы с ровной кромкой по краям, скатанная в плотный тугой рулон. 
							br
							br
							| Стерилизация выполняется с помощью ионизирующего излучения. Обычно используется в хирургии, хорошо впитывает жидкости, плотно прилегает к коже. Этот вид допускается стирать и отбеливать.
			.swiper-slide#test
				+e.content-item.flex._justify
					+e.content-cell._left
						+e.title.h1 Бинты марлевые 2
					+e.content-cell._right.content
						p
							| Марлевый бинт стерильный или нестерильный – марля простого плетения, которая нарезана на полосы с ровной кромкой по краям, скатанная в плотный тугой рулон. 
							br
							br
							| Стерилизация выполняется с помощью ионизирующего излучения. Обычно используется в хирургии, хорошо впитывает жидкости, плотно прилегает к коже. Этот вид допускается стирать и отбеливать.
			.swiper-slide#test-1
				+e.content-item.flex._justify
					+e.content-cell._left
						+e.title.h1 Бинты марлевые 3
					+e.content-cell._right.content
						p
							| Марлевый бинт стерильный или нестерильный – марля простого плетения, которая нарезана на полосы с ровной кромкой по краям, скатанная в плотный тугой рулон. 
							br
							br
							| Стерилизация выполняется с помощью ионизирующего излучения. Обычно используется в хирургии, хорошо впитывает жидкости, плотно прилегает к коже. Этот вид допускается стирать и отбеливать.
			.swiper-slide#test-4
				+e.content-item.flex._justify
					+e.content-cell._left
						+e.title.h1 Бинты марлевые 4
					+e.content-cell._right.content
						p
							| Марлевый бинт стерильный или нестерильный – марля простого плетения, которая нарезана на полосы с ровной кромкой по краям, скатанная в плотный тугой рулон. 
							br
							br
							| Стерилизация выполняется с помощью ионизирующего излучения. Обычно используется в хирургии, хорошо впитывает жидкости, плотно прилегает к коже. Этот вид допускается стирать и отбеливать.
			.swiper-slide#test-5
				+e.content-item.flex._justify
					+e.content-cell._left
						+e.title.h1 Бинты марлевые 5
					+e.content-cell._right.content
						p
							| Марлевый бинт стерильный или нестерильный – марля простого плетения, которая нарезана на полосы с ровной кромкой по краям, скатанная в плотный тугой рулон. 
							br
							br
							| Стерилизация выполняется с помощью ионизирующего излучения. Обычно используется в хирургии, хорошо впитывает жидкости, плотно прилегает к коже. Этот вид допускается стирать и отбеливать.
			.swiper-slide#test-6
				+e.content-item.flex._justify
					+e.content-cell._left
						+e.title.h1 Бинты марлевые 6
					+e.content-cell._right.content
						p
							| Марлевый бинт стерильный или нестерильный – марля простого плетения, которая нарезана на полосы с ровной кромкой по краям, скатанная в плотный тугой рулон. 
							br
							br
							| Стерилизация выполняется с помощью ионизирующего излучения. Обычно используется в хирургии, хорошо впитывает жидкости, плотно прилегает к коже. Этот вид допускается стирать и отбеливать.