+b.SECTION.team
	+e.wrap.wrap
		+e.head
			+e.head-left
				+e.H2.title.h2
					| Наша команда
			+e.nav
				+b.btn-nav._left
					+icon('arrow2', '0 0 9 17')
				+e.counter.counter
				+b.btn-nav._right
					+icon('arrow2', '0 0 9 17')
	+e.slider.swiper-container
		+e.list.swiper-wrapper
			+e.slide.swiper-slide
				+b.manager.team__item
					+e.avatar
						+e.avatar-inner._online
							+e.IMG.avatar-image.object-fit(src="/img/avatar.jpg")
						+e.online
					+e.name.middle Курило Елена Игоревна
					+e.text.verysmall Начальник отдела продаж
					+e.phone.middle.A(href="tel:+74953696639") +7 (495) 369-66-39
					+e.text.verysmall ДОБ. 1003
					+e.button.border-button__.BUTTON
						+e.back.js-circles.SPAN
						+e.text.SPAN Напишите мне
			+e.slide.swiper-slide
				+b.manager.team__item
					+e.avatar
						+e.avatar-inner._online
							+e.IMG.avatar-image.object-fit(src="/img/avatar.jpg")
						+e.online
					+e.name.middle Курило Елена Игоревна
					+e.text.verysmall Начальник отдела продаж
					+e.phone.middle.A(href="tel:+74953696639") +7 (495) 369-66-39
					+e.text.verysmall ДОБ. 1003
					+e.button.border-button__.BUTTON
						+e.back.js-circles.SPAN
						+e.text.SPAN Напишите мне
			+e.slide.swiper-slide
				+b.manager.team__item
					+e.avatar
						+e.avatar-inner._online
							+e.IMG.avatar-image.object-fit(src="/img/avatar.jpg")
						+e.online
					+e.name.middle Курило Елена Игоревна
					+e.text.verysmall Начальник отдела продаж
					+e.phone.middle.A(href="tel:+74953696639") +7 (495) 369-66-39
					+e.text.verysmall ДОБ. 1003
					+e.button.border-button__.BUTTON
						+e.SPAN.back.js-circles
						+e.SPAN.text Напишите мне
			+e.slide.swiper-slide
				+b.manager.team__item
					+e.avatar
						+e.avatar-inner._online
							+e.IMG.avatar-image.object-fit(src="/img/avatar.jpg")
						+e.online
					+e.name.middle Курило Елена Игоревна
					+e.text.verysmall Начальник отдела продаж
					+e.phone.middle.A(href="tel:+74953696639") +7 (495) 369-66-39
					+e.text.verysmall ДОБ. 1003
					+e.button.border-button__.BUTTON
						+e.back.js-circles.SPAN
						+e.text.SPAN Напишите мне
			+e.slide.swiper-slide
				+b.manager.team__item
					+e.avatar
						+e.avatar-inner._online
							+e.IMG.avatar-image.object-fit(src="/img/avatar.jpg")
						+e.online
					+e.name.middle Курило Елена Игоревна
					+e.text.verysmall Начальник отдела продаж
					+e.phone.middle.A(href="tel:+74953696639") +7 (495) 369-66-39
					+e.text.verysmall ДОБ. 1003
					+e.button.border-button__.BUTTON
						+e.SPAN.back.js-circles
						+e.SPAN.text Напишите мне
			+e.slide.swiper-slide
				+b.manager.team__item
					+e.avatar
						+e.avatar-inner
							+e.IMG.avatar-image.object-fit(src="/img/avatar.jpg")
						+e.online
					+e.name.middle Курило Елена Игоревна
					+e.text.verysmall Начальник отдела продаж
					+e.phone.middle.A(href="tel:+74953696639") +7 (495) 369-66-39
					+e.text.verysmall ДОБ. 1003
					+e.button.border-button__.BUTTON
						+e.SPAN.back.js-circles
						+e.SPAN.text Напишите мне
	+e.pagination.pagination