+b.SECTION.catalog
	+e.wrap.wrap
		+b.breadcrumbs.flex._vertical.UL
			+e.item.LI
				+e.link.A(href="#")
					+e.home
						+icon('home', '0 0 18 18')
			+e.item.LI
				+e.link.A(href="#") Каталог
			+e.item.LI
				+e.link.A(href="#") Бинты
			+e.item.LI
				+e.link._current.A(href="#") Бинт марлевый медицинский нестерильный 5х5
		+e.mb.flex._vertical._center.js-open-sidebar
			+e.mb-box
				+e.mb-square
				+e.mb-square
				+e.mb-square
				+e.mb-square
			+e.mb-label.verysmall Показать каталог
		+e.container
			+e.cell._left#sidebar
				include sidebar
			+e.cell._right
				+e.part._single
					+b.single
						+e.title._tosmall.h1 Договор
						+e.desc.small
							| Шаблон договора поставки продукции ООО «Торговый Дом ВераМед»
						+e.template
							p
								b ДОГОВОР № 
							p
								b поставки по 100% предоплате 
							p
								span(style='font-weight: 400;') г. Электросталь
								span(style='font-weight: 400;')
									| «     »                             2017 г.
							p
								b ООО «Торговый дом ВераМед»,
								|  именуемое в дальнейшем «Поставщик», в лице Генерального директора Чупеевой Елены Викторовны, действующего на основании Устава, с одной стороны, и ____________________________________________________________, именуемое в дальнейшем «Покупатель»,  в лице ______________________________________________________________________-, действующего на основании Устава, с другой стороны, а вместе именуемые Стороны, заключили настоящий договор о нижеследующем:
							p
								b 1.ПРЕДМЕТ ДОГОВОРА
							p
								| 1.1. По настоящему Договору Поставщик обязуется поставлять, а Покупатель обязуется принимать и оплачивать  продукцию (далее — Товар), в соответствии с согласованными Сторонами условиями и сроками передачи Товара.
							p
								| 1.2. Товар поставляется Покупателю партиями. Партией является Товар, согласованный Сторонами в порядке, указанном в п.п. 2.1.-2.3.  настоящего Договора.
							p
								| 1.3. Наименование, количество, ассортимент, цена и общая стоимость партии Товара устанавливаются Сторонами  в порядке, указанном в п.п. 2.1. – 2.3. настоящего Договора.
							p
								b 2.ПОРЯДОК И УСЛОВИЯ ПОСТАВКИ
							p
								| 2.1. Покупатель при необходимости получения Товара направляет Поставщику письменную Заявку, в которой указывается наименование, количество, ассортимент партии Товара. Заявка направляется при помощи компьютерных, почтовых, факсимильных средств связи. Заявка является предложением Покупателя приобрести партию Товара в соответствии с условиями настоящего Договора.
							p
								| 2.2. После получения Заявки Покупателя в согласованные Сторонами сроки Поставщик направляет Покупателю счет на оплату любым доступным способом. Выставленный Поставщиком счет на оплату является согласием Поставщика  осуществить поставку на условиях Заявки Покупателя. При отсутствии выставления счета в срок, указанный в настоящем пункте, Заявка считается не согласованной Поставщиком.
							p
								| 2.3. Покупатель в день получения счета на оплату должен прислать уведомление о согласовании  поставки Товара в соответствии, с выставленным от Поставщика на оплату счетом. Уведомление направляется при помощи компьютерных, почтовых, факсимильных средств связи.
							p
								| 2.4. По письменному согласованию с Покупателем поставка  Товара может производиться путем выборки Товара (самовывоз) со склада Поставщика, через стороннюю транспортную организацию или  транспортом Поставщика на склад Покупателя.
							p
								| 2.5. При поставке Товара Покупателю путем выборки  (самовывоз) со склада Поставщика, документами, подтверждающими факт поставки Товара являются первичные учетные документы (
								b товарная накладная,УПД и др.)
								| .  Товар передается представителю Покупателя при наличии доверенности от Покупателя, если только от Покупателя не выступают лица, имеющие право действовать без доверенности.
							p
								| 2.6. При поставке Товара  транспортом Поставщика, на склад Покупателя, документами, подтверждающими факт поставки Товара являются первичные учетные документы (
								b товарная накладная,УПД и др.).
							p
								| 2.7. При поставке Товара через транспортную организацию (перевозчика), документом, подтверждающим факт поставки Товара является 
								b квитанция о приеме груза, 
								| выданная транспортной организацией
								b .
							p
								| 2.8. По  согласованию сторон поставка может осуществляться  ж/д транспортом или самолетом. При этом Поставщик передает товар железнодорожному или авиационному перевозчику с отнесением всех расходов по транспортировке на Покупателя.
							p 2.9. Датой поставки Товара считается:
							p
								| — при выборке Товара (самовывозе) со склада Поставщика — дата приемки Товара Покупателем на складе Поставщика и подписания уполномоченными лицами Сторон товарных накладных;
							p
								| — при отгрузке Товара через транспортную организацию — дата приемки Товара уполномоченным представителем транспортной организации и подписания Сторонами  товарных накладных.
							p
								| — при поставке Товара транспортом Поставщика на склад Покупателя – дата приемки Товара уполномоченным представителем Покупателя на складе и подписания Сторонами товарной накладной.
							p
								| 2.10. Право собственности на Товар, риск его случайной гибели или повреждения переходит от Поставщика к Покупателю с даты поставки Товара Покупателю, его представителю или представителю транспортной организации и подписания сторонами товарных накладных.
							p
								| 2.11. Прием-передача Товара осуществляется Покупателем (его представителем или представителем транспортной организации) путем счета количества тарных (грузовых) мест.
							p
								| 2.12. Покупатель (его уполномоченный представитель) обязан заявить все имеющиеся у него претензии по количеству тарных мест и  состоянию  упаковок тарных мест и тем качественным характеристикам Товара, которые могут быть выявлены при обычном внешнем осмотре в ходе приемки–передаче Товара, а все имеющиеся у него замечания и претензии изложить в накладной (или ином товаро-отгрузочном документе). Покупатель, не заявивший о недостатках получаемого Товара в соответствии с требованиями настоящего пункта Договора, лишается права ссылаться в споре на эти недостатки в последующем.
							p
								| 2.13. В случае неприбытия Покупателя (его представителя) в согласованный Сторонами срок для выборки (самовывоза) товара со склада Поставщика, Заявка считается не согласованной, и у Сторон не возникает обязательств по данной поставке. Заявка также считается несогласованной при отсутствии у Поставщика возможности исполнить Заявку.
							p
								b 3.ОБЯЗАННОСТИ СТОРОН
							p
								b 3.1. Обязанности Поставщика:
							p
								| 3.1.1.  Продает Покупателю по его заявке Товар в ассортименте, количестве, качестве, по ценам и в сроки, согласованные Сторонами;
							p 3.1.2. Сопровождает Товар документами  качества.
							p
								b 3.2. Обязанности Покупателя:
							p
								| 3.2.1. Предоставляет Поставщику  заявку на Товар, а также уведомление (п.2.3. настоящего Договора);
							p
								| 3.2.2. Принимает Товар в  ассортименте, количестве, качестве, по ценам и в сроки, согласованные Сторонами;
							p 3.2.3. Оплачивает Товар на условиях настоящего Договора.
							p
								b 4.КАЧЕСТВО И ПРИЕМКА ТОВАРА
							p
								| 4.1. Качество поставляемого Товара должно соответствовать требованиям нормативно-технической документации (ГФ, ТУ, ФС), сопровождаться  сертификатом соответствия и регистрационным удостоверением.
							p
								| 4.2. Приемка поставленного Товара по качеству и количеству (внутритарная) осуществляется Покупателем в соответствии с «Инструкцией о порядке   приемки продукции производственно-технического  назначения и товаров народного потребления по количеству», утвержденной Постановлением  Госарбитража при СМ СССР от 15.06.65 г. № П-6(с изм.  от 29.12.73 г.  и  от  14.11.74 г.); «Инструкцией о порядке приемки продукции производственно-технического назначения и товаров народного потребления по  качеству», утвержденной Постановлением Госарбитража при СМ СССР  от 25.04.1966 г. № П-7(с  изм., внесенными  пост. Госарбитража   СССР  от  29.12.73 г.  № 81  и  от  14.11.74 г.  № 98) и Инструкцией  “О  порядке  и  сроках  приемки  импортных  товаров  по  количеству  и  качеству,  составлению  и  направлению  рекламационных  актов”,  утв.  Госарбитражем  СССР  от  15.10.90 г.   в части, не противоречащей Гражданскому кодексу РФ и условиям настоящего договора.
							p
								| 4.3. Товар должен быть поставлен в упаковке, отвечающей требованиям, предъявляемым  нормативными актами РФ и обеспечивающей его сохранность при транспортировке и хранении.
							p
								| 4.4. Претензии по качеству принимаются в течение всего срока годности Товара, при точном соблюдения Покупателем  необходимых условий  хранения и транспортировки Товара. При обнаружении некачественного товара вызов представителя Поставщика — обязателен.
							p
								| 4.5. При обнаружении недовложений (внутритарных), заводского брака или иных недостатков проданного Товара, Покупатель должен уведомить представителя Поставщика любым доступным способом в течение 24 часов с момента обнаружения таких недостатков. Если Поставщик отказался направить своего представителя для приемки Товара, акт о выявленных недостатках товара должен быть составлен в тот же день и направлен Поставщику не позднее 10 дней с момента составления акта.
							p
								| 4.6. Претензии по качеству, количеству /внутритарному/ и ассортименту товара, предъявленные с нарушением  условий настоящего Договора, а также норм ГК РФ, удовлетворению не подлежат.
							p
								b 5.ЦЕНЫ И ПОРЯДОК РАСЧЕТОВ
							p
								| 5.1. Товар поставляется и оплачивается по согласованным Сторонами ценам в рублях РФ, зафиксированным на день выписки счета.
							p
								| 5.2. Расчеты за Товар производятся путем 100% предоплаты, когда основанием для расчета за Товар является получение счета со сроком оплаты в три (3-и)  банковских дня.
							p
								| 5.3. Оплата производится путем перечисления соответствующей денежной суммы на расчетный счет Поставщика. Конкретный способ оплаты определяется сторонами при оформлении счета.
							p
								| 5.4. Обязательство Покупателя по оплате Товара считается исполненным с момента поступления денежных средств на любой из указанных Поставщиком счетов.
							p
								| 5.5. Услуги по доставке Товара транспортом Поставщика до склада Получателя или до передачи перевозчику, а также затраты по упаковке, маркировке и складированию товара включены в цену товара и относятся на расходы Поставщика.
							p
								| 5.6. Поставка Товара осуществляется  в течение (3-х) банковских  дней,  с момента поступления денежных средств на расчетный счет Поставщика.
							p
								b 6.ОТВЕТСТВЕННОСТЬ СТОРОН
							p
								| 6.1. При нарушении  условий  настоящего  Договора  виновная  Сторона  несет ответственность в   соответствии с действующим законодательством РФ.
							p
								| 6.2. Штрафы, пени, иные санкции за нарушение обязательств, предусмотренных настоящим Договором, считаются начисленными и подлежащими уплате в добровольном (в досудебном) порядке с момента их письменного признания должником в ответ на письменные претензии потерпевшей Стороны, или подлежащими уплате должником на основании решения суда, вступившего в законную силу.
							p
								b 7.ФОРС-МАЖОР.
							p
								| 7.1. Стороны  освобождаются  от  ответственности  за  неисполнение  или ненадлежащее  исполнение принятых ими на себя в соответствии с условиями настоящего Договора  обязательств, если такое неисполнение было вызвано наличием обстоятельств непреодолимой силы, как то: стихийные бедствия, пожары (при отсутствии вины Сторон), забастовки либо иные действия, затрудняющие работу транспортных организаций, принятие органами государственной власти и/или управления нормативных актов обще запретительного характера, запрещающих совершение определенных действий всем участникам данного рода правоотношений и другие обстоятельства, предусмотренные ГК РФ.
							p
								| 7.2.   О наступлении обстоятельств непреодолимой силы Сторона, которой указанные обстоятельства препятствуют надлежащим образом исполнить свои обязательства по настоящему Договору, должна уведомить другую Сторону в течение трех суток с момента их возникновения. Допускается уведомление с использованием средств факсимильной связи.
							p
								| 7.3. В случае продолжительности действия обстоятельств непреодолимой силы более одного месяца настоящий Договор может быть расторгнут в одностороннем порядке по инициативе любой из сторон с предварительным уведомлением другой Стороны не менее чем за десять дней до предполагаемой даты расторжения. Наличие и продолжительность обстоятельств непреодолимой силы подтверждается справкой соответствующей Торгово-промышленной палаты.
							p
								b 8.ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ
							p
								| 8.1. Стороны обязуются решать все разногласия, которые  могут возникнуть при исполнении настоящего договора, по взаимной  договоренности.
							p
								| 8.2. В случае возникновения спора, который не может быть решен взаимной договоренностью или претензионном порядке, возникший спор разрешается  Арбитражным судом г. Москвы.
							p
								b 9.СРОК ДЕЙСТВИЯ, ОСНОВАНИЕ И3МЕНЕНИЯ И ПРЕКРАЩЕНИЯ
							p
								| 9.1. Договор вступает в силу с момента его подписания уполномоченными представителями Сторон и действует до ________________  2018 г. Окончание срока действия настоящего договора не освобождает Стороны от исполнения обязательств по нему.
							p
								| 9.2. В случае если за один месяц до конца действия договора, одна из сторон не оповестит другую сторону о его  прекращении, договор  считать пролонгированным на каждый последующий календарный год.
							p
								| 9.3. Все дополнения и изменения к настоящему Договору должны быть изложены в письменной форме и подписаны уполномоченными представителями Сторон.
							p
								| 9.4. Факсимильные копии Договоров, дополнений к Договору, Заявок и Протоколов согласования цен имеют юридическую силу. Помимо факсимильных копий указанных документов соответствующая сторона должна предоставить другой Стороне также их подлинные экземпляры в течение 20 дней с момента отправки факсимильной копии.
							p
								| 9.5. В части, неурегулированной настоящим Договором, Стороны руководствуются законодательством РФ.
							p
								| 9.6. Настоящий Договор заключен на русском языке в двух экземплярах, имеющих равную юридическую силу, по одному для каждой из Сторон.
							p
								b 10.ПРОЧИЕ УСЛОВИЯ
							p 10.1. При заключении договора Покупатель предоставляет Поставщику:
							ul
								li
									b копию Свидетельства о постановке на налоговый учет,
							ul
								li
									| копию Свидетельства о внесении записи в Единый госреестр юридических лиц ЕГРЮЛ (для юридических лиц, зарегистрированных до 2002 года), или копию Свидетельства о государственной регистрации (для юридических лиц, зарегистрированных после 2002 года),
							ul
								li
									| документ, подтверждающий полномочия лица на подписание договора от имени Покупателя (удостоверенная печатью Покупателя копия протокола собрания участников/акционеров об назначении/избрании руководителя юридического лица, или копия приказа о назначения руководителя государственного предприятия, или оригинал доверенности на право подписи договора от имени Покупателя, составленной в соответствии с требованиями ГК РФ).
							p Все предоставляемые документы должны быть заверены печатью Покупателя.
							p
								b 11. АДРЕСА, РЕКВИЗИТЫ И ПОДПИСИ СТОРОН
						+e.dt._info.dt__.TABLE
							tr
								td
									+e.text.b.is-dark Полное фирменное наименование с указанием организационно-правовой формы юридического лица
								td
									+e.text.is-dark Общество с ограниченной ответственностью  «Торговый  дом ВераМед»
							tr
								td
									+e.text.b.is-dark Сокращенное фирменное наименование юридического лица
								td
									+e.text.is-dark ООО «ТД  ВераМед»
							tr
								td
									+e.text.b.is-dark Юридический адрес
								td
									+e.text.is-dark 144009 г. Электросталь ул. Восточная д.6 кв.195
							tr
								td
									+e.text.b.is-dark Фактический адрес
								td
									+e.text.is-dark 142520, Московская область, Павлово-Посадский  район, село Рахманово, д. 172
							tr
								td
									+e.text.b.is-dark E-mail / Сайт
								td
									+e.text.is-dark 40702810000000116282
							tr
								td
									+e.text.b.is-dark Р/с
								td
									+e.text.is-dark 40702810000000116282
							tr
								td
									+e.text.b.is-dark К/с
								td
									+e.text.is-dark 30101810100000000716
							tr
								td
									+e.text.b.is-dark БИК
								td
									+e.text.is-dark 044525716
							tr
								td
									+e.text.b.is-dark ИНН / КПП
								td
									+e.text.is-dark 5053038279 / 505301001
							tr
								td
									+e.text.b.is-dark ОГРН
								td
									+e.text.is-dark 1155053000431
							tr
								td
									+e.text.b.is-dark ОКПО
								td
									+e.text.is-dark 59373529
							tr
								td
									+e.text.b.is-dark ОКВЭД
								td
									+e.text.is-dark 51.46.1
							tr
								td
									+e.text.b.is-dark Банк
								td
									+e.text.is-dark ВТБ 24 (ПАО)
							tr
								td
									+e.text.b.is-dark Контактный телефон
								td
									+e.text.is-dark (495)369-66-39
							tr
								td
									+e.text.b.is-dark Генеральный директор
								td
									+e.text.is-dark Чупеева Елена Викторовна
						+e.button-download.btn__.A(href="#")
							+e.back.js-circles.SPAN
							+e.icon.SPAN
								+icon('docs', '0 0 27 33')
							+e.text.SPAN Скачать пример договора