.btn-nav{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	width: 7.5rem;
	min-width: 7.5rem;
	height: 7.5rem;
	border: 1px solid $blue;
	border-radius: 7px;
	cursor: pointer;
	transition: ease 0.2s;
	stroke: $blue;
	
	.b-circle {
		border-color: $blue;
		background-color: $blue;
	}
	
	svg {
		width: 16px;
		height: 30px;
		max-width: none;
	}
	
	&:hover, &:active {
		stroke: #fff;
	}
	
	&_left {
		margin-right: 1.8rem;
		svg {
			transform: rotate(-90deg);
		}
	}
	
	&_right {
		svg {
			transform: rotate(90deg);
		}
	}
	
	&_white {
		border-color: #fff;
		stroke: #fff;
		&:hover {
			stroke: $blue;
		}
		.b-circle {
			border-color: #fff;
			background-color: #fff;
		}
	}
}

@include max-screen($large_mobile) {
	.btn-nav{
		width: 30px;
		height: auto;
		min-width: inherit;
		border: 0;
		opacity: 1;
		&_left {
			margin-right: 0;
			margin-left: 16px;
		}
		&_right {
			margin-right: 16px;
		}
		&:hover, &:active {
			stroke: $blue;
		}
		.btn__back {
			display: none;
		}
		&_white {
			&:hover, &:active {
				stroke: #fff;
			}
		}
	}
}