.hamburger{
	cursor: pointer;
	opacity: 1 !important;

	&-box{
		width: 28px;
		height: 18px;
	}

	&-inner{
		margin-top: -1px;
		width: 28px;
		height: 2px;
		background: $dark;
		&:after, &:before{
			width: inherit;
			height: inherit;
			background: inherit;
		}

		&:before{
			top: 7px!important;
		}

		&:after{
			top: 14px!important;
		}

	}

	&.is-active{
		.hamburger{
			&-inner{
				top: -1px;
				&:after{
					top: 20px !important;
					// bottom: 0 !important;
				}
			}
		}
	}
}