.poster{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000AFF;
	// border: 1px solid #000000;
 	border-radius: 7px;
 	// box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	overflow: hidden;

 	&__icon{
 		width: 4.4rem;
 		fill: #fff;
 		
 		margin: auto;
 		margin-bottom: 2.5rem;

 		svg{
 			width: 100%;

 		}
 	}

 	&__button{
		width: 84.68%;
		padding-left: 10px;
		padding-right: 10px;
		margin: auto;
 	}

 	&__back{
 		z-index: 1;
 		// opacity: 0.18;
 	}

 	&__center{
 		z-index: 15;
 		width: 100%;
 		position: relative;
 	}
}