.accordion{
	margin-bottom: 10px;
	color: $dark;

	&__top{
		padding-top: 20px;
		padding-bottom: 20px;
		font-weight: 700;
		position: relative;
		border-bottom: 1px solid #DADCE0;
		cursor: pointer;
		transition: ease .1s;
		user-select: none;


		&:after{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 3px 0 3px;
			border-color: $dark transparent transparent transparent;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -3px;
			transition: ease .1s;
		}

		&:hover{
			border-bottom-color: $blue;
		}

		@include max-screen($large_tablet) {
			font-size: 15px;
			line-height: 18px;
		}
	}

	&__content, .catalog__tree .children{
		// margin-top: 22px;
		padding-left: 5px;
		padding-right: 5px;	
		padding-bottom: 36px;
		// display: none;

		@include max-screen($large_tablet) {
			padding-bottom: 26px;
		}
	}

	&__radio{
		&:first-child{
			margin-top: 22px;
		}
		&:not(:last-child){
			margin-bottom: 2.2rem;
		}
	}
	

	&.is-active{
		.accordion{
			&__top{
				color: $blue;
				border-bottom-color: $blue;
				&:after{
					border-color: $blue transparent transparent transparent;
					transform: rotate(-180deg);
				}
			}
			&__content{
				// display: block;
			}			
		}
	}
}