.breadcrumbs{
	padding-top: 25px;
	padding-bottom: 31px;

	@include max-screen($large_tablet) {
		display: none;
	}


	&__item{
		padding-right: 64px;
		position: relative;
		display: block;
		
		&:not(:last-child){
			&:after{
				content: '';
				display: block;
				position: absolute;
				right: 20px;
				height: 1px;
				background: rgba(10, 17, 60, 0.55);
				top: 50%;
				width: 24px;
				margin-top: -1px;

			}			
		}


	}

	&__home{
		width: 18px;
		display: block;
	}

	&__link{
		font-size: 1.3rem;
		line-height: 1.6rem;
		letter-spacing: -0.0015em;
		color: rgba(10, 17, 60, 0.55);

		&_current{
			font-weight: 700;
			color: $dark;
		}
	}
}