.company {
	font-size: 1.5rem;
	color: #fff;
	position: relative;
	min-height: 72rem;
	padding: 40px 0 40px 0;
	display: flex;
	align-items: center;
	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	&__title {
		color: #fff;
		max-width: 41rem;
		margin-bottom: 0;
	}
	&__desc {
		font-size: 1.9rem;
		line-height: 2.8rem;
		max-width: 44rem;
	}
	&__wrap {
		width: 100%;
		position: relative;
		z-index: 3;
	}
	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		&-slide {
			background-color: #090F35;
			background-position: center;
      		background-size: cover;
			transition: 0.5s;
		}
	}
	&__top {
		position: relative;
		&-content {
			max-width: 91rem;
			margin: 0 auto;
			position: relative;
			z-index: 5;
		}
		&-item {
			display: flex;
			justify-content: space-between;
		}
	}
	&__nav {
		position: absolute;
		display: flex;
		justify-content: space-between;
		width: 100%;
		top: 50%;
		transform: translateY(-80%);
	}
	&__bottom {
		margin-top: 5.5rem;
		border-top: 1px solid rgba(255, 255, 255, 0.22);
		padding-top: 6rem;
		display: flex;
		justify-content: space-between;
	}
	&__list {
		width: 110rem;
		margin-right: -4px;
	}
	&__item {
		padding: 0 4px 0 4px;
		img {
			border-radius: 7px;
		}
	}
	.pagination {
		span {
			border-color: #fff;
			&.swiper-pagination-bullet-active {
				background: #fff;
			}
		}
	}
}

@include max-screen($small_tablet) {
	.company {
		&__nav {
			position: static;
			transform: translateY(0);
			margin-top: 35px;
		}
		&__bottom {
			flex-wrap: wrap;
			margin-top: 28px;
			padding-top: 25px;
			.company__desc {
				width: 100%;
				margin-bottom: 25px;
				max-width: none;
			}
		}
		&__list {
			width: auto;
			margin-left: -4px;
		}
	}
}

@include max-screen($large_mobile) {
	.company {
		min-height: inherit;
		&__desc {
			font-size: 13px;
			line-height: 18px;
		}
		&__bottom {
			margin-top: 23px;
			.company__desc {
				max-width: 250px;
			}
		}
		.btn-nav {
			&_left {
				margin-left: 0;
			}
			&_right {
				margin-right: 0;
			}
		}
		&__top {
			&-item {
				flex-wrap: wrap;
				text-align: center;
			}
		}
		&__title {
			margin-bottom: 25px;
		}
		&__nav {
			margin-top: 30px;
		}
	}
}