.manager{
	&__avatar{
		width: 12.6rem;
		margin: auto;
		margin-bottom: 16px;

		&-inner{
			position: relative;
			padding-top: 100%;
			border-radius: 50%;
			overflow: hidden;
		}
	}

	&__phone{
		color: $dark;
		display: inline-block;
	}

	&__name{
		color: $dark;
		font-weight: 500;
	}

	&__text{
		line-height: 3.3rem;
		color: rgba(10, 17, 60, 0.55);
	}

	&__button{
		margin-top: 1.3rem;
		padding-left: 3.7rem;
		padding-right: 3.7rem;
	}
}