.scheme {
	padding: 10rem 0 10rem 0;
	font-size: 1.5rem;
	background: #FAFBFC;
	color: #0A113C;
	&__title, &__desc {
		text-align: center;
	}
	&__desc {
		margin-top: 1.4rem;
	}
	&__inside-wrap {
		max-width: 119.5rem;
		margin: 5.9rem auto 0 auto;
	}
	.steps {
		max-width: 105.5rem;
		margin-bottom: 4rem;
	}
}

@include max-screen($large_mobile) {
	.scheme {
		padding: 20px 0 56px 0;
		&__desc {
			display: none;
		}
		&__inside-wrap {
			margin-top: 18px;
		}
		&__callbox {
			margin-top: 0;
		}
		.steps {
			margin-bottom: 21px;
		}
	}
}