.single{
	&__info{
		line-height: 4.4rem;

		&-link{
			margin-right: 1.2rem;
			line-height: 3rem;
			// line-height: 1.4em;
		}

		&-mark{
			margin-right: 1.2rem;
		}

		.b{
			color: $dark;
			margin-right: 8px;
		}

		@include max-screen($large_tablet) {
			line-height: 3.2rem;

			&-link{
				line-height: inherit;
			}

			&-mark{
				margin-top: 6px;
				margin-bottom: 6px;
			}
		}
	}

	&__top{
		margin-bottom: 1.8rem;
	}

	&__link{
		margin-right: 3.6rem;
	}

	&__title{
		margin-bottom: 1.8rem;

		@include max-screen($large_mobile) {
			&_tosmall{
				font-size: 1.9rem;
				line-height: 4.4rem;
				margin-bottom: 0;
			}
		}
	}

	&__line{
		margin-bottom: 4.5rem;
		margin-top: 6rem;

		@include max-screen($large_mobile) {
			margin-top: 1.2rem;
			margin-bottom: 3.7rem;
		}
	}

	&__dt{
		margin-top: 4rem;
		td{
			&:first-child{
				width: 31.25%;
				padding-left: 6.58%;
			}

			&:last-child{
				// width: 68.75%;
			}
		}
		
		&_info {
			margin-top: 2.5rem;
			font-size: 1.5rem;
			line-height: 2.1rem;
			td {
				padding-top: 2.4rem;
				padding-bottom: 2.4rem;
				&:first-child{
					width: 50%;
					.dt__text {
						max-width: 31.5rem;
					}
				}
				&:last-child{
					.dt__text {
						max-width: 40rem;
					}
				}
			}
			@include max-screen($large_mobile) {
				font-size: 13px;
				line-height: 18px;
			}
		}

		@include max-screen($small_tablet) {
			margin-top: 2.4rem;

			td{
				&:first-child{
					width: 49%;
					padding-left: 15px;
				}				
			}
		}
	}

	&__preview{

		img{
			border-radius: 7px;
		}
	}

	&__text{
		padding-right: 2rem;

	}

	&__order{
		margin-bottom: 3.1rem;

		@include max-screen($large_mobile) {
			height: 7.5rem;
			font-size: 1.6rem;
			margin-bottom: 0;

			&:before{
				display: none;
			}
		}
	}

	&__cell{
		&_left{
			width: 62.17%;
			margin-right: 7.13%;
		}

		&_right{
			width: 30.7%;
			padding-top: 3.1rem;
		}

		@include max-screen($large_desktop) {
			&_left{
				width: 59.17%;
				margin-right: 5.13%;
			}

			&_right{
			    width: 35.7%;
			}
		}

		@include max-screen($small_tablet) {
			&_left{
				width: 54.17%;
			}

			&_right{
			    width: 40.7%;
			    padding-top: 0;
			}
		}

		@include max-screen($small_tablet) {
			width: 100%;
			margin-right: 0;
			&_left{
				margin-bottom: 2.4rem;
			}
		}
	}

	&__row{
		margin-bottom: 4.5rem;

		@include max-screen($large_mobile) {
			margin-bottom: 2.6rem;
		}
	}

	&__mobile{
		display: none;

		@include max-screen($large_mobile) {
			display: block;
			padding-top: 1.5rem;
		}
	}

	&__price{
		margin-top: 3rem;
		margin-bottom: 2.2rem;

		@include max-screen($large_tablet) {
			margin-top: 1.9rem;
			margin-bottom: 1.7rem;
		}
	}
	&__team {
		&-title {
			margin-bottom: 1.2rem;
		}
		&-slider {
			margin-left: -0.8rem;
			margin-right: -0.8rem;
			padding-top: 2.5rem;
		}
	}
	.team {
		padding: 8rem 0 8rem;
		background: none;
		&__nav {
			display: none;
		}
		&__slide {
			width: 33.33%;
			padding: 0 0.8rem 0 0.8rem;
			margin-top: 1.6rem;
		}
		&__list {
			flex-wrap: wrap;
		}
	}
	&__faq {
		&-title {
			margin-bottom: 1.2rem;
		}
	}
	.faq {
		padding: 8rem 0 8rem 0;
		&__inside-wrap {
			padding: 3rem 8.5rem 7rem 6rem;
		}
	}
	.sertificate {
		background: none;
		padding: 0 0 8rem 0;
		&__title {
			letter-spacing: -0.02em;
		}
		&__foto {
			background: rgba(221, 227, 239, 0.44);
		}
		&__list {
			margin-left: -24/913*100%;
		}
		&__item {
			width: 280/913*100%;
			margin-left: 24/913*100%;
		}
	}
	&__gallery {
		font-size: 1.5rem;
		&-title {
			margin-bottom: 0;
		}
		&-slider {
			margin: 0 -0.8rem 0 -0.8rem;
		}
		&-list {
			padding-top: 1.8rem;
			flex-wrap: wrap;
		}
		&-slide {
			padding: 0 0.8rem 0 0.8rem;
			width: 33.33%;
			margin-top: 1.6rem;
			&:after {
				width: calc( 100% - 1.6rem );
				left: 0.8rem;
				border-radius: 7px;
			}
		}
		&-foto {
			border-radius: 7px;
			width: 100%;
		}
		&-nav {
			display: none;
		}
	}
	&__vacancy {
		padding-top: 8rem;
		&-title {
			margin-bottom: 1.2rem;
		}
		.tabs {
			margin-top: 3rem;
			&__content {
				&-item {
					padding-top: 7rem;
					padding-bottom: 7rem;
					h4 {
						line-height: 4.4rem;
						&:not(:first-child) {
							margin-top: 3.4rem;
						}
					}
					p, ol, ul {
						&:not(:first-child) {
							margin-top: 1.2rem;
						}
					}
					ol {
						list-style: decimal inside;
					}
					h5 {
						font-size: 1.5rem;
						line-height: 2.1rem;
						font-weight: bold;
						margin-top: 1.4rem;
					}
				}
			}
		}
	}
	&__delivery {
		padding-top: 8rem;
		&-title {
			margin-bottom: 1.5rem;
		}
		&-desc {
			margin-bottom: 2.4rem;
		}
		.tabs {
			&__content {
				&-item {
					padding: 5.8rem 3.5rem 5.8rem 5.9rem;
					h4 {
						line-height: 4.4rem;
						&:not(:first-child) {
							margin-top: 3.4rem;
						}
					}
					p, ol, ul {
						&:not(:first-child) {
							margin-top: 1.2rem;
						}
					}
					ol {
						list-style: decimal inside;
					}
					h5 {
						font-size: 1.5rem;
						line-height: 2.1rem;
						font-weight: bold;
						margin-top: 1.4rem;
					}
				}
			}
		}
	}
	&__news {
		padding-top: 8rem;
		&-title {
			margin-bottom: 0;
		}
	}
}

@include max-screen($large_desktop) {
	.single {
		&__delivery {
			.tabs {
				&__content {
					&-item {
						padding-left: 1.7rem;
						padding-right: 1.5rem;
					}
				}
			}
		}
	}
}

@include max-screen($large_mobile) {
	.single {
		&__team {
			&-title, &-desc {
				text-align: center;
			}
		}
		.team {
			padding: 30px 0 50px 0;
			&__slide {
				margin-top: 0;
				width: 100%;
			}
			&__list {
				flex-wrap: nowrap;
			}
			&__nav {
				display: flex;
				padding: 0;
			}
		}
		&__faq {
			&-title, &-desc {
				text-align: center;
			}
		}
		.faq {
			background: none;
			padding: 5.5rem 0 4.8rem 0;
			margin-top: 0;
			&__inside-wrap {
				padding: 0;
			}
		}
		.sertificate {
			padding-bottom: 55px;
			&__list {
				margin-left: 0;
				width: 100%;
			}
			&__item {
				margin-left: 0;
			}
		}
		&__gallery {
			padding-top: 35px;
			&-title {
				text-align: center;
			}
			&-list {
				flex-wrap: nowrap;
			}
			&-slide {
				width: 100%;
			}
			&-nav {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 15px;
			}
		}
		&__vacancy {
			padding-top: 50px;
			.tabs {
				&__content {
					&-item {
						padding-top: 30px;
						padding-bottom: 30px;
						h4 {
							line-height: 3.2rem;
						}
					}
				}
			}
		}
		&__news {
			padding-top: 35px;
		}
	}
}

@include max-screen($large_mobile) {
	.single {
		&__delivery {
			padding-top: 35px;
		}
	}
}